//
// Override Boostrap Default Color system
//

$white:    #FFFFFF;
$gray-100: #F7F7F7;
$gray-200: #EAEAEA;
$gray-300: #dee2e6 !default;
$gray-400: #DDDDDD;
$gray-500: #B5B5B5;
// $gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #3C3C3C;
$gray-900: #292929;
$black:    #000000;

$primary:       #B90504;
$secondary:     #990100;