.hero-slider{

    .slick{
        overflow: hidden;
        
        &-arrow{
            color: $header-xs-color;
            font-size: rem(30px);
            height: 50px;
            width: 50px;
            z-index: 99;

            @include media-breakpoint-down(md){
                display: none !important;
            }

            &.slick-next{
                right: 65px;

                &:before{
                    content: "";
                }
            }

            &.slick-prev{
                left: 65px;

                &:before{
                    content: "";
                }
            }
        }

        &-list{
            height: 100%;
        }

        &-track{
            height: 100%;
        }

        &-slide{
            > div{
                height: 100%;
            }
        }
    }
}