.whats-on-slider{

    .slick{
        overflow: hidden;
        &-arrow{
            background-color: $slickArrowBg;
            color: $slickArrowColor;
            font-size: 1rem;
            height: 70px;
            width: 55px;
            z-index: 99;

            &.slick-next{
                border: {
                    top-right-radius: $themeBorderRadius;
                    bottom-right-radius: $themeBorderRadius;
                };
                right: 0;

                @include media-breakpoint-up(md){
                    right: -38px;
                }

                &:before{
                    content: "";
                }
            }

            &.slick-prev{
                border: {
                    top-left-radius: $themeBorderRadius;
                    bottom-left-radius: $themeBorderRadius;
                };
                left: 0;

                @include media-breakpoint-up(md){
                    left: -38px;
                }

                &:before{
                    content: "";
                }
            }
        }

        &-track{
            display: flex !important;
        }
    
        &-slide{
            display: flex !important;
            float: none !important;
            height: auto !important;
            outline: none !important;
        }

    }
}

//NOTE: if less than 2 slides, slick slider won't be initialised
.whats-on-slide{
    &[data-col="1"]{
        @include media-breakpoint-up(lg){
            max-width: 50%;
            margin: auto;
        }
    }

    &[data-col="2"]{
        @include media-breakpoint-up(lg){
            max-width: 50%;
            flex: 0 0 50%;
            padding: 0 $grid-gutter-width/2;
        }
    }
}