@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');

//
// Override Boostrap Default Fonts
//
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Lato', serif;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;
$font-weight-black:           900;

$body-color: #707070;
$font-size-base: 1rem;
$font-weight-base: $font-weight-light;
$line-height-base: 1.5;

$headings-font-family: $font-family-serif;
$headings-font-weight: $font-weight-medium;
$headings-color: $gray-900;
$headings-margin-bottom: 1rem;

$input-focus-color: $body-color;
$input-color: $body-color;

$h1-font-size: rem(38px);
$h1-font-xs: rem(26px); 
$h2-font-size: rem(38px);
$h2-font-xs: rem(26px); 
$h3-font-size: rem(18px);
$h3-font-xs: 1rem; 
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

// If letter spacing
$letterSpacing: 0.02em;

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
    letter-spacing: $letterSpacing;
}

.fbt{

    h1,
    .h1{
        @media (max-width: 992px){
            font-size: $h1-font-xs;
        }
    }

    h2,
    .h2{
        @media (max-width: 992px){
            font-size: $h2-font-xs;
        }
    }


    //.ReviewsSliderBlock .text-uppercase,
    .sub-title {
        display: flex;
        align-items: center;
        font-size: rem(17px);
        color: $body-color;
        text-transform: none;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background-color: $body-color;
            float: left;
            margin-right: 20px;
        }
    }

    .ReviewsSliderBlock,
    .FeaturedRoomsBlock,
    .ThingsToDoMapBlock {
        //.text-uppercase,
        .sub-title {
            color: $white;
            justify-content: center;
            padding-bottom: 0px;
            margin-bottom: 0px;

            &::before {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        h2 span {
            margin: 0;
        }
    }

    .ReviewsSliderBlock {
        .sub-title {
            font-size: 14px;;
            margin: 0px;
            padding: 0px;
            text-transform: capitalize;
            margin-bottom: 10px;
            color: $white;
            &::before {
                display: none;
            }
        }

        h2 {
            font-size: 24px;
            line-height: 29px;
        }
    }

    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-sans-serif;
    }
}


