@import "./../../../node_modules/sass-rem/rem";
$letterSpacing: 0 !default;
$body-color: #000 !default;
$btn-lg-min-width: rem(160px) !default;
$cardDefaultBg: #fff !default;

// Font Awesome
// TODO: deprecation warning
@import "./../../../node_modules/@fortawesome/fontawesome-free/css/all";


//Theme configuration
//override Bootstrap default style
@import "./theme-config/*.*";
@import "./theme-config/colors";
@import "./theme-config/**/*.*";

@import "./../../common/mixins/*.*";


// Required Bootstrap 
@import "./../../../node_modules/bootstrap/scss/functions";
@import "./../../../node_modules/bootstrap/scss/variables";
@import "./../../../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap
@import "./../../../node_modules/bootstrap/scss/root";
@import "./../../../node_modules/bootstrap/scss/reboot";
@import "./../../../node_modules/bootstrap/scss/type";
@import "./../../../node_modules/bootstrap/scss/images";

@import "./../../../node_modules/bootstrap/scss/grid";
@import "./../../../node_modules/bootstrap/scss/transitions";
@import "./../../../node_modules/bootstrap/scss/card";
@import "./../../../node_modules/bootstrap/scss/utilities";
@import "./../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "./../../../node_modules/bootstrap/scss/print";
@import "./../../../node_modules/bootstrap/scss/pagination";


// Override Bootstrap Default Components Style
@import "./../../common/vendor-override/bootstrap/buttons";
@import "./../../../node_modules/bootstrap/scss/buttons";

@import "./../../common/vendor-override/bootstrap/cards";

@import "./../../common/vendor-override/bootstrap/navbar";
@import "./../../../node_modules/bootstrap/scss/nav";
@import "./../../../node_modules/bootstrap/scss/navbar";

@import "./../../common/vendor-override/bootstrap/fields";
@import "./../../../node_modules/bootstrap/scss/forms";

@import "./../../common/vendor-override/bootstrap/typography";


// Other Vendors Style
@import "./../../common/vendor-override/lazyload";

@import "./../../../node_modules/slick-carousel/slick/slick.scss";
@import "./../../../node_modules/slick-carousel/slick/slick-theme.scss";

//Theme specific - Override Vendor Style
@import "./../../common/vendor-override/slick-carousel/ballina/*.*";

@import "./../../common/vendor-override/snazzy-info-window";


// TODO: deprecation warning
@import "./../../../node_modules/pickadate/lib/compressed/themes/classic";
@import "./../../../node_modules/pickadate/lib/compressed/themes/classic.date"; 
@import "./../../common/vendor-override/pickadate";

@import "./../../common/vendor-override/simpleLightbox";

@import "./../../../node_modules/snazzy-info-window/dist/snazzy-info-window.scss";


// Custom Utilties
@import "./../../common/utilities/*.*";

// Common Modules
@import "./../../common/modules/*.*";

//Theme specific modules
@import "./../../common/modules/**/_ballina.scss";


//Page style
@import "./../../common/pages/*.*";


body{
    overflow-x: hidden;
}

blockquote{
    margin: 2rem 0;
    padding-left: 2rem;
    border-left: 3px solid $secondary;
}

img,
iframe{
    max-width: 100%;
}