.features-overview {
    padding: 0;
    .container {
        background: transparent;
    }
    &-container {
        padding-top: rem(25px);
        border-radius: rem(6px);
        background: $gray-200;
        color: $secondary;
        h2 {
            color: $secondary;
        }
        @include media-breakpoint-up(md) {
            width: calc((8.3333% * 11) - 30px);
            margin: 0 15px;
        }
    }
    .btn {
        background-color: $secondary;
        color: white;
        border-color: $secondary;
        &:hover {
            background-color: $primary;
            border-color: $primary;
        }
    }
}