
$alternatingOffset: 1 !default;
$alternatingTextColColumns: 5 !default;



.AlternatingBlock {

  .row {
    margin-bottom: rem(100px);
  }

  .alternate {
    flex-direction: row-reverse;

    .text-col {
      @include media-breakpoint-up(md) {
        @include make-col-offset($alternatingOffset);
      }
    }

    .image-col {
      @include media-breakpoint-up(md) {
        @include make-col-offset(0);
      }
    }
  }


  .text-col {
    padding-top: rem(20px);
    padding-bottom: rem(20px);

    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col($alternatingTextColColumns);
    }

    @include media-breakpoint-down(sm) {
      order: 2;
    }

    .btn {
      margin-top: 2rem;
    }

  }

  .image-col {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(6);
      @include make-col-offset($alternatingOffset);
    }

    @include media-breakpoint-down(sm) {
      order: 1;
    }

    img {
      min-height: rem(300px);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

}