.awards{

    background-color: $awardsSectionBg;

    &-card{

        &-description{
            padding: $grid-gutter-width 0;
        }

        &-media{
            img{
                max-width: 100%;
                height: auto;

                @include media-breakpoint-up(lg){
                    max-width: 85%;
                }
            }
        }
    }

}