.ConferenceRoomsBlock {


  .alternating-rows {
    margin-top: rem(100px);
    margin-bottom: rem(100px);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(50px);
    }

    .text-col {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(5);
      }
      @include media-breakpoint-down(sm) {
        order: 2;
        padding-bottom: 0;
      }

      padding-bottom: rem(50px);

      .logo {
        margin-bottom: rem(75px);

        @include media-breakpoint-down(sm) {
          margin: rem(30px) 0;
        }
      }

      .links {
        margin-top: rem(75px);

        @include media-breakpoint-down(sm) {
          margin-top: rem(30px);
        }
      }
    }
    .image-col {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(6);
        @include make-col-offset(1);
      }
      @include media-breakpoint-down(sm) {
        order: 1;
      }

      img {
        min-height: rem(300px);
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }


    &.alternate {
      .text-col {
        order: 2;
        @include media-breakpoint-up(md) {
          @include make-col-offset(1);
        }
      }

      .image-col {
        order: 1;
        @include media-breakpoint-up(md) {
          @include make-col-offset(0);
        }
      }
    }

  }


  .flyer-link {
    font-size: rem(15px);
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    color: $primary;
    border: none;
    background: none;
    margin-right: 1rem;
    display: block;
    padding: 0.5rem 0.5rem;
    float: left;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: lighten($primary, 10%);
    }

    i {
      font-size: rem(14px);
      margin-right: 0.2rem;
    }
  }
}