@if ($overlappingBlockTop > 0rem){

    .element{
    
        &.FeaturesOverviewBlock,
        &.ThingsToDoMapBlock{
            position: relative;
            z-index: 2;
            padding-bottom: 0;
        }

        &.ThingsToDoMapBlock{
            @include media-breakpoint-up(lg){
                padding-top: $overlappingBlockTop;
                background: transparent;
            }
        }

        &.ReviewsSliderBlock{
            + .ThingsToDoMapBlock{
                @include media-breakpoint-up(lg){
                    padding-top: 0;
                }
            }
        }

        //&.FeaturedRoomsBlock{
        //
        //    + .ThingsToDoMapBlock,
        //    + .ReviewsSliderBlock,
        //    + .FeaturesOverviewBlock{
        //        @include media-breakpoint-up(lg){
        //            margin-top: -$overlappingBlockTop;
        //        }
        //    }
        //}
    }
}
@else{
    .Page{
        .element{
            > section{
                &:last-child{
                    padding-bottom: rem(56px);
    
                    @include media-breakpoint-up(lg){
                        padding-bottom: rem(120px);
                    }
                }
            }
        }
    }
}

.element{
    padding-top: 2rem;
    
    &.ColumnBlock{

        .col{
            min-width: 100%;

            @include media-breakpoint-up(md){
                min-width: 50%;
            }

            @include media-breakpoint-up(lg){
                min-width: rem(300px);
            }
        }
    }

    &.ReviewsSliderBlock{
        padding-top: 0;
    }

    &.ContactFormBlock,
    &.ColumnBlock,
    &.GalleryBlock{
        + footer{
            margin-top: 2rem;
            
            @include media-breakpoint-up(lg){
                margin-top: 4rem;
            }
        }
    }

    &.ThingsToDoMapBlock{
        padding-top: 0;
    }
}

.hero{
    +.element{

        &:not(.ThingsToDoMapBlock){
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        @if ($overlappingBlockTop > 0rem){
            &.ThingsToDoMapBlock{
                padding-top: 0;
            }
        }
    }
}
