.featured{

    &-cards{

        &-list{
            background-color: $featuredCards;
    
            > div{
    
                &:nth-child(even){
                    @include media-breakpoint-up(md){
                        flex-direction: row-reverse;
                    }
                }
            }
    
            .col-md-6{
                padding: 0;
            }
        }

        &-section{
            margin-top: rem(56px);

            @include media-breakpoint-up(lg){
                margin-top: rem(100px);
            }
        }
    }

    &-card{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &-content{
            padding: rem(40px);

            @include media-breakpoint-up(md){
                max-width: rem(520px);
            }

            h4{
                color: $gray-800;
                margin-bottom: rem(6px);
                font: {
                    size: rem(12px);
                }
            }

            .btn{
                margin-top: $grid-gutter-width/2;
            }
        }
    }
        
}