$featuresOverviewSectionBorderRadius: 0 !default;
$featuresOverviewBackgroundColor: $white !default;
$featuresOverviewColor: $body-color !default;

.FeaturesOverviewBlock {
    background-color: $light-yellow;
}


.features{
    &-overview {
  
        padding: rem(56px 0 26px);
  
        @include media-breakpoint-up(lg){
            padding: rem(0 0 115px);
        } 

        .container{
            background-color: $light-yellow;
            padding-top: rem(50px);
            border-radius: $featuresOverviewSectionBorderRadius;

            color: $featuresOverviewColor;
  
            @include media-breakpoint-up(lg){
                max-width: map-get($grid-breakpoints, "xl");
            }
        }
  
        h2,
        .sub-title{
            text-align: center;
            color: $featuresOverviewColor;
        }
  }

    &-list{
        padding: rem(56px 0 21px);
        list-style: none;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &.left-align{
            justify-content: flex-start;
        }

        &-description{
            flex: 1;
            text-align: center;
        }

        &-media{
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(50px);
            margin-bottom: 1rem;
            width: 100%;

            i{
                color: $primary;
                font-size: rem(40px);
            }

            svg{
                fill: $primary;
                width: rem(50px);
            }

            img,
            svg{
                align-self: flex-end;
                max-width: rem(50px);
                width: 100%;
                max-height: 100%;
            }
        }

        > li{
            font: {
                size: $font-size-list;
                weight: $font-weight-list;
            };
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin-bottom: rem(35px);
            padding: 0 1rem;
            width: 50%;

            @include media-breakpoint-up(lg){
                padding: 0 2rem;
                min-width: rem(150px);
                width: auto;
            }
        }

        p{
                margin: 0;
                // max-width: rem(140px);
                text: {
                    align: center;
                    transform: uppercase;
                };
            }
    }
}



