.footer{
    color: $footerColor;

    &-bar{

        &-bottom{
            background-color: $footerBottomBarBg;
            display: flex;
            align-items: center;
            padding: 1rem 0;

            @include media-breakpoint-up(lg){
                min-height: rem(40px);
                padding: 0;
            }
        }

        &-top{
            background-color: $footerTopBarBg;
            padding: rem(40px 0);

            &-inner{
                text-align: center;

                @include media-breakpoint-up(lg){
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                }

                &-left{

                }

                &-right{
                    @include media-breakpoint-up(lg){
                        flex-grow: 1;
                        padding-left: rem(100px);

                        > div{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            min-height: 100%;
                        }
                    }
                }
            }
        }        

    }

    &-awards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        @include media-breakpoint-up(lg){
            align-self: flex-end;
        }

        > div {
            margin-right: $grid-gutter-width/2;
            margin-top: $grid-gutter-width/2;
            width: calc(50% - #{$grid-gutter-width/2});

            @include media-breakpoint-up(lg){
                width: auto;
                max-width: rem(200px);
            }
        }

    }

    &-contact-details{
        ul{
            font: {
                size: rem(12px);
                weight: 500;
            };
            list-style: none;
            padding-left: 0;

            > li{

                &:not(:last-child){
                    margin-bottom: rem(14px);
                }

                a{
                    color: $footerColor;

                    @include media-breakpoint-up(lg){
                        display: flex;
                    }

                    &:hover{
                        color: $primary;
                        text-decoration: none;
                    }
                }

                i{
                    color: $primary;
                    line-height: 1.5;
                    margin-right: rem(10px);
                }
            }
        }
    }

    &-logo{
        width: $logo-xs-width;
        
        @include media-breakpoint-up(lg){
            width: $logo-lg-width
        }

        &-wrap{
            margin-bottom: $grid-gutter-width;
        }
    }

    &-primary-nav{

        color: $footerNavColor;

        @include media-breakpoint-down(md){
            margin-top: $grid-gutter-width;
        }

        ul{
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            > li{
                font: {
                    size: rem(14px);
                    weight: $font-weight-medium;
                }
                text-transform: uppercase;

                @include media-breakpoint-up(lg){
                    width: 25%;
                }

                &:not(:last-child){
                    margin-bottom: 1rem;
                }

                a{
                    color: inherit;

                    &:hover{
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }

            @include media-breakpoint-up(lg){
                display: flex;
                flex-wrap: wrap;

                > li{

                    &:not(:last-child){
                        margin-right: $grid-gutter-width;
                    }
                }
            }
        }
    }

    &-secondary-nav{
        text-align: center;
        
        ul{
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            @include media-breakpoint-up(lg){
                display: inline-flex;
            }

            > li{
                font: {
                    size: rem(12px);
                    weight: $font-weight-bold;
                };
                text-transform: uppercase;

                &:not(:last-child){

                    margin-bottom: 1rem;

                    @include media-breakpoint-up(lg){
                        margin: {
                            right: rem(40px);
                            bottom: 0;
                        };
                    }
                }

                a{
                    color: inherit;
                }
            }
        }
    }

    &-socials-list{
        display: flex;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        justify-content: center;

        @include media-breakpoint-up(lg){
            justify-content: flex-start;
        }

        > li{
            &:not(:last-child){
                margin-right: rem(20px);

                @include media-breakpoint-up(lg){
                    margin-right: rem(20px);
                }
            }
        }
    }
}