.gallery{
    &-row{
        display: flex;
        flex-wrap: wrap;
        margin: {
            left: -$grid-gutter-width/2;
            right: -$grid-gutter-width/2;
        };

        @if $gallery-type-grid{
            @include media-breakpoint-up(md){
                @supports(display: grid){
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: auto auto;
                    grid-gap: $grid-gutter-width/2 $grid-gutter-width/2;
                    margin: 0;
                }
            }
        }
    }

    &-col{
        padding: {
            right: $grid-gutter-width/2;
            left: $grid-gutter-width/2;
        }

        @if $gallery-type-grid{
            margin-bottom: $grid-gutter-width;
            width: 50%;

            @include media-breakpoint-up(md){
                margin-bottom: 0;
                padding: 0;
                width: auto;

                @include IE-only(){
                    padding: $grid-gutter-width/4;
                    width: 25%;
                }
            }
        }@else{
            margin-bottom: $grid-gutter-width;
 
            @include media-breakpoint-up(sm){
                flex: 0 0 $gallery-col-sm;
                max-width: $gallery-col-sm;
            }
 
            @include media-breakpoint-up(md){
                flex: 0 0 $gallery-col-md;
                max-width: $gallery-col-md;
            }
        }

        &:nth-child(6n+1){
            @if $gallery-type-grid{
                @supports(display: grid){
                    @include media-breakpoint-up(md){
                        grid-row-end: span 2;
                        grid-column-end: span 2;
                    }
                }
            }
        }

        &:nth-child(6n){
            @if $gallery-type-grid{

                @supports(display: grid){
                    @include media-breakpoint-up(md){
                        grid-column-end: span 2;

                        .tile-squared{
                            padding-top: calc(50% - 10px);
                        }
                    }
                }
            }
        }
    }

    &-tile{
        @if (($gallery-type-grid != true) and ($gallery-tile-squared == false) ){
            padding-top: 0;
            height: 100%;

            img{
                position: relative;
                transform: none;
                left: 0;
                top: 0;
            }
        }
    }
}