.HotelIntroductionBlock {
    &.element { padding-top: 0; }
}

.hotel-intro {

    .is-text-image {
        flex-direction: row-reverse;

        .hotel-intro-content {
            @include media-breakpoint-up(xl) {
                @include make-col-offset(0);
            }
        }

        .hotel-intro-media {
            @include media-breakpoint-up(xl) {
                @include make-col-offset(1);
            }
        }
    }

    &-cta {
        margin-top: $grid-gutter-width;

        @include media-breakpoint-down(lg){
            text-align: center;
        }
    }

    &-content {
        @include make-col-ready();

        @include media-breakpoint-up(lg) {
            @include make-col(7);

        }

        @include media-breakpoint-up(xl) {
            @include make-col-offset(1);
            @include make-col(6);
        }
    }

    &-media {
        @include make-col-ready();

        @include media-breakpoint-up(lg) {
            @include make-col(5);
        }

        @include media-breakpoint-up(xl) {
            iframe{
                max-width: initial;
            }
        }
        
        img {
            width: 100%;
        }
    }
}