ul {
    &.hotel-contact-list{
        list-style: none;
        padding-left: 0;

        > li{
            color: $gray-800;
            font-size: $font-size-list;
            font-weight: $font-weight-list;

            a{
                color: $gray-800;
                text-decoration: none;

                &:hover{
                    color: $secondary;
                }

                i {
                    color: $gray-800;
                }
            }

            i{
                color: $gray-800;
                padding-right: rem(8px);
            }
        }
    }
}

