.instagram-feeds{
    background-color: $instagramFeedsSectionBg;
    padding: rem(56px 0 26px);
    
    @include media-breakpoint-up(lg){
        padding: rem(100px 0 70px);
    }

    .tile-squared{
        background-color: $instagramFeedsTileBg;
    }

    &-title{
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;
        height: 100%;

        h2{
            font: {
                size: rem(14px);
                weight: $font-weight-bold;
            };
        }

        i{
            font-size: rem(80px);
            margin-bottom: rem(10px);
            color: $body-color;
        }
    }
}