//TODO: keep image ratio 
.offers{
    background-color: $offersSectionBg;

    &-card{

        @if($offer-type == tile){
            position: relative;
        }

        p{
            color: $body-color;
        }
    }

    &-link{

        @if($offer-type == tile){
        //TODO: review it if you want to apply the same transition also on the other style

            &:hover{
                .card-img-top{
                    transform: scale(1.1);
                }
            }
        }

        &:hover{
            text-decoration: none;
        }
    }

    @if($offer-type == tile){
        .card{
            &-body{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                padding: 2rem 1rem 1rem;
                background-color: $offer-body-color;
            }

            &-day,
            &-text{
                display: none;
            }

            &-img-top{
                height: 16rem;
                transition: transform .3s ease;

                @include media-breakpoint-up(lg){
                    height: 20rem;
                }
            }

            &-title{
                @include media-breakpoint-down(lg){
                    font-size: 1rem;
                }
            }
        }
    }
}