
.RestaurantsBlock {

  .intro {
    margin-bottom: 3rem;
  }


  .categories {

    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle,
    button {
      background-color: $white;
      color: $primary;
      border: none;
      margin: 0 1rem;
      display: inline-block;
      float: right;
      box-shadow: none !important;
    }

    //@include media-breakpoint-down(sm) {
    //  margin-bottom: rem(50px);
    //}


  }

  .alternating-rows {
    margin-top: rem(15px);
    margin-bottom: rem(110px);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(50px);
    }

    .text-col {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(5);
      }
      @include media-breakpoint-down(sm) {
        order: 2;
        padding-bottom: 0;
      }

      padding-bottom: rem(50px);

      .logo {
        margin-bottom: rem(75px);

        @include media-breakpoint-down(sm) {
          margin: rem(30px) 0;
        }
      }

      .links {
        margin-top: rem(75px);

        @include media-breakpoint-down(sm) {
          margin-top: rem(30px);
        }
      }
    }
    .image-col {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(6);
        @include make-col-offset(1);
      }
      @include media-breakpoint-down(sm) {
        order: 1;
      }

      img {
        min-height: rem(300px);
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }


    &.alternate {
      .text-col {
        order: 2;
        @include media-breakpoint-up(md) {
          @include make-col-offset(1);
        }
      }

      .image-col {
        order: 1;
        @include media-breakpoint-up(md) {
          @include make-col-offset(0);
        }
      }
    }

  }

  .hours-list {
    margin-bottom: 15px;

    h3 {
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }


  .menu-link,
  .hours-link,
  .reservations-link {
    font-size: rem(15px);
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    color: $primary;
    border: none;
    background: none;
    margin-right: 1rem;
    display: block;
    padding: 0.5rem 0.5rem;
    float: left;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: lighten($primary, 10%);
    }

    i {
      font-size: rem(14px);
      margin-right: 0.2rem;
    }
  }

  .modal .close {
    border: 0;
    background: none;
    cursor: pointer;
  }

}