//Reviews-slider block
.reviews{
    position: relative;

    &-background{

        &:after{
            content: '';
            position: absolute;
            top: 0;
            display: flex;
            height: 100%;
            width: 100%;
            background-color: rgba($black, 0.7);
        }
    }

    &-content{

        blockquote{
            padding: 0;
            border: none;
        }

        h2,
        h3,
        p{
            color: inherit;
        }

        small{
            font-size: rem(10px);
        }

        &-inner{
            padding: 0 $grid-gutter-width/2;
            width: 100vw;

            @include media-breakpoint-up(md){
                width: 700px;
            }
        }
    }

    &-foreground{
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include media-breakpoint-up(lg){

            padding-top: 3rem;
            padding-bottom: 3rem;

            //@if ($overlappingBlockTop > 0rem){
            //    padding: 3rem;
            //}@else{
            //    padding: 3rem;
            //}

        }
    }

    &-slider{
        padding-bottom: rem(45px);
        > .slick-dots{
            justify-content: center;
            padding: 0;
        }
    }
 
}

// Reviews Block
.tripadvsor-widget{
    > div{
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .widSSP{
        width: 100% !important;

        @include media-breakpoint-up(lg){
            width: auto;
        }
    }
}

.reviews-block-list {
    @include media-breakpoint-up(lg){
        max-width: 40vw;
    }

    h3 {
        margin-bottom: 0.4rem;
    }

    .date {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }

    .rating {
        color: $primary;
        font-size: 1.2rem;
    }

    .source {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        font-weight: 500;

        i {
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }
    }
}

