.room-statistics {
    $roomStatisticsMargin: rem(10px 0) !default;
    $roomStatisticsFontSize: rem(14px) !default;
    $roomStatisticsSvgHeight: 1rem !default;
    $roomStatisticsSvgWidth: 1rem !default;
    $roomStatisticsFontWeight: $font-weight-list !default;

    color: $secondary;
    padding: 0;
    margin: $roomStatisticsMargin;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
        font: {
            size: $roomStatisticsFontSize;
            weight: $roomStatisticsFontWeight;
        };
        margin-right: 20px;
    }

    svg {
        height: $roomStatisticsSvgHeight;
        width: $roomStatisticsSvgWidth;
    }
}