.room-type-card{
    position: relative;

    @include media-breakpoint-up(md){
        min-height: rem(400px);
    }

    &-background{
        min-height: rem(260px);

        @include media-breakpoint-up(md){
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: auto;
        }
    }

    &-content{
        @include media-breakpoint-up(md){
            background-color: rgba($white, 0.9);
            padding: rem(40px);
            margin-left: 4rem;
            width: 36%;
        }
    }

    &-foreground{
        position: relative;

        @include media-breakpoint-up(md){
            margin-bottom: rem(100px);
        }
    }

    &-image{
        width: 100%;
        height: 100%;
    }

    &-slider{
        width: 100%;
        height: 100%;
        overflow-x: hidden;

        .slick-list,
        .slick-track{
            height: 100%;
        }
    }

    &-slide{
        width: 100%;
        height: 100%;
        position: relative;
    } 
}