.room-card {
	background-color: $cardDefaultBg;
	height: 100%;

	&.is-slider{
		background-color: $roomSliderSectionBg;

		@include media-breakpoint-up(lg){
			flex-direction: row;
		}

		> * {
			@include media-breakpoint-up(lg){
				width: 50%;
			}
		}
	}

	&-image {
		width: 100%;
		object-fit: cover;
		height: 240px;

		@include media-breakpoint-up(lg){
			height: 400px;
		}
	}

	&-slider{
		overflow: hidden;

		.slick-arrow {
			background-color: $primary;
		}
	}

	&-slide{
		overflow: hidden;
		max-height: $roomCardSlideMaxHeight;
	}

	.card-body {
		display: flex;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg){
			padding: 30px 60px 15px 40px;
			max-width: rem(600px);
		}

		h5,
		ul,
		p,
		div{
			width: 100%;
		}

	}

	.card-cta-wrap{
		align-self: flex-end;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		> div{
			flex: 1;
			margin-bottom: rem(20px);
			min-width: 240px;

			@include media-breakpoint-up(xl){
				max-width: 240px;
			}

			a{
				width: 100%;
			}
		}
	}

	h5 {
		$roomCardTitleFontFamily: $font-family-sans-serif !default;

		font-size: $roomCardTitle;
		margin: 0;
		font-family: $roomCardTitleFontFamily;
		font-weight: $font-weight-bold;

		@if $roomCardTitleIsUppercase {
			text-transform: uppercase;
		}
	}

	p {
		font-weight: $font-weight-light;
		margin-bottom: rem(28px);
	}
}