
.RoomSliderBlock{
    background-color: $roomSliderSectionBg;
}
.room-slider-block{
    .slick-arrow{
        @if($slick-rooms-slider-show-arrows-lg==false){
            @include media-breakpoint-up(lg){
                display: none !important;
            }
        }
    }

    .slick-dots{
        justify-content: center;
        bottom: -10px;

        @if $slick-rooms-slider-show-dots-xs==false{
            @include media-breakpoint-down(md){
                display: none !important;
            }
        }

        @include media-breakpoint-up(lg){
            @if $slick-rooms-slider-show-arrows-lg==false{
                display: flex;
            }@else{
                display: none !important;
            }
        }
    }

    .room-card{
        a{
            width: auto !important;
        }
    }
}