.rooms-listing{
    &-filters{
        padding: rem(32px 16px);
        text-align: center;

        @include media-breakpoint-up(lg){
            padding: rem(64px 75px);
        }

        > ul{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none; 
            padding-left: 0;

            li{
                color: $primary;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: rem(0 10px 10px 10px);

                @include media-breakpoint-up(md){
                    margin: rem(0 20px 20px 20px);
                }
            }

            img{
                margin-bottom: rem(10px);
                max-width: rem(50px);

                @include media-breakpoint-up(lg){
                    margin-bottom: rem(20px);
                    max-width: rem(72px);
                }
            }
        }
    }

    &-filter{
        @include media-breakpoint-down(md){
            padding: rem(10px);
            min-width: initial;
        }
    }

    &-results{
        &:nth-child(n+2){
            margin-top: rem(26px);

            @include media-breakpoint-up(lg){
                margin-top: rem(150px);
            }
        }
    }

    .room-card{
        background-color: $cardAltBg; 
    }
}