@if($things-todo-filters-inside-map == true){
    .things-todo{
        color: $secondary;
        position: relative;
        max-width: 100%;
        overflow: hidden;
    
        &-content{
    
            position: relative;

            h2{
                color: inherit;
            }
    
            @include media-breakpoint-down(md){
                background-color: $thingsTodoBg;
                font-size: rem(14px);
    
                h2{
                    font-size: rem(24px);
                }
    
            }
    
            @include media-breakpoint-up(lg){
                padding: rem(155px 0);
            }
    
            i{
                font-size: rem(30px);
                margin-bottom: 1rem;
            }
        }
    
        &-filters{
            background-color: rgba($thingsTodoBg, .80);
            padding: $grid-gutter-width;
            position: relative;
            text-align: center;
            z-index: 2;
    
            @include media-breakpoint-up(lg){
                max-width: rem(440px);
            }
    
            &-list{
                list-style-type: none;
                margin-bottom: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    
                > li{
                    margin-top: 20px;
                    width: calc(50% - 10px);
        
                    button{
                        line-height: 1;
                        width: 100%;
    
                        @include media-breakpoint-down(md){
                            font-size: rem(12px) !important;
                        }

                        @if $thingsTodoBtnLight{
                            color: $light;
                            border-color: $light !important;
                        }
    
                        &:hover,
                        &.active{

                            @if $thingsTodoBtnLight{
                                background: $light !important;
                                color: $thingsTodoBg !important;
                            }
                        }
                    }
                }
            }
        }
    
        &-map{
    
            height: 50vh; 
    
            iframe{
                max-width: 100%;
            }
    
            @include media-breakpoint-up(lg){
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}@else{
    .things-todo{
        color: $thingsTodoColor;
        position: relative;
        max-width: 100%;
    
        min-height: 400px;
    
        @include media-breakpoint-up(lg){
            min-height: 700px;
        }
    
        &-content{
            background-color: $thingsTodoBg;
    
            @include media-breakpoint-up(lg){
                background-color: transparent;
                position: absolute;
                width: 100%;

                @if ($overlappingBlockTop > 0rem){
                    top: -$overlappingBlockTop;
                }@else{
                    top: 0;
                }
            }

            h2{
                color: inherit;
            }

            p {
                max-width: 600px;
                margin: 1rem auto;
            }
    
            i{
                display: none;
            }
    
            .container{
                @include media-breakpoint-up(lg){
                    max-width: map-get($grid-breakpoints, "xl");
                }
            }
        }
    
        &-filters{
            background-color: $thingsTodoBg;
            padding: $grid-gutter-width 0;
            position: relative;
            text-align: center;
            z-index: 2;
    
            @include media-breakpoint-up(lg){
                padding: $grid-gutter-width;
            }
    
            &-list{
                list-style-type: none;
                margin: 0 -$grid-gutter-width/4;
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    
                @include media-breakpoint-up(lg){
                    flex-wrap: nowrap;
                }
    
                > li{
                    margin-top: $grid-gutter-width/2;
                    padding: 0 $grid-gutter-width/4;
                    width: 50%;
                    flex-basis: 50%;
    
                    @include media-breakpoint-up(lg){
                        flex-grow: 1;
                        flex-basis: auto;
                    }
        
                    button{
                        line-height: 1;
                        width: 100%;
    
                        @include media-breakpoint-down(lg){
                            font-size: rem(12px) !important;
                        }

                        @if $thingsTodoBtnLight{
                            color: $secondary;
                            border-color: $light !important;
                        }
    
                        &:hover,
                        &.active{
                            @if $thingsTodoBtnLight{
                                background: $light !important;
                                color: $thingsTodoBg !important;
                            }
                        }
                    }
                }
            }
        }
    
        &-map{
    
            height: 400px;
    
            @include media-breakpoint-up(lg){
                min-height: 700px;
            }
    
            iframe{
                max-width: 100%;
            }
    
            @include media-breakpoint-up(lg){
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}


