.tile-block{
    position: relative;
    overflow: hidden;
    border-radius: $squareTileBorderRadius;

    &-background{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            display: flex;
            height: 100%;
            width: 100%;
            background-color: rgba($black, 0.3);
        }
    }   

    &-foreground{
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: rem(70px 40px);
        text-align: center;

        .btn{
            margin-top: auto;
        }

        h3,
        h4{
            color: inherit;
            text-transform: none;
        }
    }

    &-link{
        &:hover{
            text-decoration: none;

            .tile-block-background{
                transform: scale(1.1);
            }
        }
    }
}