
.featured-rooms{
    background-color: $featuredRoomsSectionBg;

    padding: rem(56px 0);

    @include media-breakpoint-up(lg){
        padding: rem(100px 0 60px);
    }

    h2{
        margin-bottom: rem(65px);
    }
}