.FeaturedRoomsBlock{
    background-color: $featuredRoomsSectionBg;
}

.featured-rooms{

    padding: rem(56px 0);

    @include media-breakpoint-up(lg){
        padding: rem(96px 0 135px);
    }

    .text-row {
        $featured-rooms-text-justify-content: initial !default;
        $featured-rooms-text-align: left !default;
        $featured-rooms-text-padding-bottom: 0 !default;

        justify-content: $featured-rooms-text-justify-content;
        text-align: $featured-rooms-text-align;
        padding-bottom: $featured-rooms-text-padding-bottom;
    }

    .heading-with-icon {
        $featured-rooms-heading-with-icon-align-items: flex-start !default;
        align-items: $featured-rooms-heading-with-icon-align-items;
    }

    .view-all-rooms-link {
        color: $secondary;
        font-weight: 900;

        &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f054";
            display: inline-block;
            padding-right: rem(40px);
            vertical-align: middle;
            font-weight: 900;
            transition: padding 0.3s;
        }

        &:link,
        &:active {
            color: $primary;
        }

        &:hover,
        &:active {
            text-decoration: none;

            &:before {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }


}