$btn-padding-y-lg: rem(12px);
$btn-padding-x-lg: rem(40px);

.btn{
    font: {
        size: rem(14px) !important;
        weight: $font-weight-bold;
    };
    letter-spacing: $letterSpacing;
    text-transform: uppercase; 

    &-lg{
        font-size: rem(14px) !important;
        min-width: $btn-lg-min-width;
        min-height:$input-height;
    }

    &-outline{
        border-color: $btn-outline-border-color !important;
        color: $secondary;

        &:hover{
            background-color: $btn-outline-border-color;
            color: color-yiq($btn-outline-border-color);
        }
    }
}