.card{
    background-color: $cardDefaultBg;
    border-color: $themeCardBorderColor;
    border: {
        top-left-radius: $borderTopradius;
        top-right-radius: $borderTopradius;
        bottom-left-radius: $borderBottomRadius;
        bottom-right-radius: $borderBottomRadius;
    };
    overflow: hidden;

    &-link{
        > *{
            transition: .5s ease;
        }

        &:hover{
            text-decoration: none;

            > *{
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
            }
        }

        p{
            color: $body-color;
        }
    }

    &-media{
        padding-top: 62.5%;
        position: relative;
    }

    &-title{
        margin-bottom: $headings-margin-bottom;
    }
}