.form-group{
    display: flex;
    flex-direction: column-reverse;

    input {

        &:required{

            + label{

                &:after{
                    content: '*';
                    color: $primary;
                    position: relative;
                }
            }
        }
    }
}

select{
    appearance: none;
}

input::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}