.BlogPost{

    .blog-page{
        + .element{
            > section,
            div{
                padding-top: 0;
            }

        }
    }

    .ColumnBlock{
        img{
            height: auto;
        }
    }
}