$roomPageSpacing: 3rem;

.room-page{
    padding-bottom: $roomPageSpacing;

    @include media-breakpoint-up(md){
        padding-bottom: 0;
    }

    &-details{
        padding: $roomPageSpacing 0;
    }

    &-features{
        margin-bottom: $roomPageSpacing;
    }

    &-calendar{
        background-color: $gray-400;
        height: 100%;
        padding: $roomPageSpacing 0;

        > div{
            margin: auto;
        }

        h3{
            text-align: center;
            margin-bottom: 0;
            padding: 0 $grid-gutter-width/2;
        }


    }

    &-gallery{
        margin-bottom: 3rem;
    }

    &-price{
        color: $roomPagePriceColor;
        font: {
            size:rem(14px);
            weight: $font-weight-medium;
            line-height: normal;
        }
    }
}