$twoColumnPageSpacing: 3rem;

.two-column-page{
    padding-bottom: $twoColumnPageSpacing;

    @include media-breakpoint-up(md){
        padding-bottom: 0;
    }

    &-details{
        padding: $twoColumnPageSpacing 0;
    }

    &-sidebar{
        background-color: $gray-400;
        height: 100%;
        padding: $twoColumnPageSpacing 1rem;
    }
}