//Footer
$footerTopBarBg: #EEE;
$footerBottomBarBg: $gray-100;
$footerColor: $gray-800;
$footerNavColor: $gray-800;

.footer-bar-top-inner-right > div {
  justify-content: end;
}

.footer-primary-nav ul > li {
  width: auto !important;
}
