

.reviews-block-list {
  .review {
    margin-top: 25px;
    margin-bottom: 75px;
  }

  blockquote {
    padding: 0;
    border: 0;
    font-size: 1rem;

    .author {
      text-transform: initial;
      display: flex;
      align-items: center;

      &:before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 2px;
        background-color: $gray-900;
        margin-right: 15px;
      }
    }
  }
}