//ROOM CARD
$roomPagePriceColor: $secondary;
$roomCardTitle: rem(30px);
$roomCardTitleIsUppercase: false;
$roomCardSlideMaxHeight: 300px !default;
$roomCardTitleFontFamily: $font-family-serif;

$roomStatisticsColor: $primary !default;
$roomStatisticsMargin: rem(30px) 0;
$roomStatisticsFontSize: rem(20px);
$roomStatisticsSvgHeight: rem(20px);
$roomStatisticsSvgWidth: rem(20px);
$roomStatisticsFontWeight: $font-weight-light;

$featuredRoomsSectionBg: #FFF;


// Featured rooms

$featured-rooms-text-justify-content: center;
$featured-rooms-text-align: center;
$featured-rooms-heading-with-icon-align-items: center;
$featured-rooms-text-padding-bottom: rem(100px);

