.hero{
    position: relative;

    &-background{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-content{
        background-color: rgba($black, 0.5);
        width: 100%;
        position: relative;
        padding: rem(20px);
        padding-bottom: rem(0px);

        @include media-breakpoint-up(lg){
            max-width: 50%;
            padding: rem(40px);
            padding-bottom: rem(10px);
        }
    }

    &-foreground{
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: rem(500px);
        padding: rem(144px 0);

        &.full-screen{
            width: 100vw;
        }

        h1{
            color: $white;
            font: {
                size: rem(40px);
                weight: $font-weight-bold;
            };
            margin-bottom: 0;
            width: 100%;

            @include media-breakpoint-up(md){
                font-size: rem(56px);
            }
    
            @include media-breakpoint-up(lg){
                font-size: rem(80px);
            }
        }
    }

    &-slider{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    &-slide{
        width: 100%;
        height: 100%;
        position: relative;
    }   
}