.hero{
    position: relative;

    &-background{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            display: flex;
            height: 100%;
            width: 100%;
            background-color: rgba($black, 0.5);
        }
    }

    &-content{
        width: 100%;
    }

    &-foreground{
        color: $header-xs-color;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: rem(500px);
        padding: rem(144px 0);

        &.full-screen{
            width: 100vw;
            min-height: 100vh;
        }

        h1{
            color: $header-xs-color;
            font: {
                size: rem(40px);
                weight: $font-weight-bold;
            };
            margin-bottom: rem(24px);
            text-align: center;
            width: 100%;

            @include media-breakpoint-up(md){
                font-size: rem(56px);
                margin-bottom: rem(56px);
            }
    
            @include media-breakpoint-up(lg){
                font-size: rem(80px);
            }
        }
    }

    &-slider{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    &-slide{
        width: 100%;
        height: 100%;
        position: relative;
    }   
}