.hero{
    position: relative;
    min-height: 100vh;
    
    &.full-screen{
        width: 100vw;
        min-height: 100vh;
    }

    &-background{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-slider{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    &-slide{
        width: 100%;
        height: 100%;
        position: relative;

        &.has-overlay{
            &:after{
                content: '';
                position: absolute;
                top: 0;
                display: flex;
                height: 100%;
                width: 100%;
                background-color: rgba($black, $hero-overlay-opacity);
            }
        }

        &-content{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            h1{
                color: $white;
                margin-bottom: 0;
                text-align: center;
                z-index: 2;

                @include media-breakpoint-up(md){
                    max-width: rem(610px);
                }
            }
        }
    }   
}

.vimeo-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 40rem;
    overflow: hidden;

    iframe {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}