$themeDirectory: '/themes/taylors-flip-theme/';

@font-face {
    font-family: 'Utopia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Utopia'),
    url($themeDirectory + 'fonts/utopiastd-regular.woff2') format('woff2'),
    url($themeDirectory + 'fonts/utopiastd-regular.woff') format('woff');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'),
    url($themeDirectory + 'fonts/roboto-regular.woff2') format('woff2'),
    url($themeDirectory + 'fonts/roboto-regular.woff') format('woff');
    unicode-range: U+0000-00FF;
}

//
// Override Boostrap Default Fonts
//
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Roboto', serif;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;
$font-weight-black:           900;

$body-color: $dark-gray;
$font-size-base: 1rem;
$font-weight-base: $font-weight-light;
$line-height-base: 1.5;

$headings-font-family: 'Utopia', sans-serif;
$headings-font-weight: $font-weight-medium;
$headings-color: $dark-green;
$headings-margin-bottom: 1rem;

$input-focus-color: $body-color;
$input-color: $body-color;

$h1-font-size: rem(38px);
$h1-font-xs: rem(26px);
$h2-font-size: rem(38px);
$h2-font-xs: rem(26px);
$h3-font-size: rem(18px);
$h3-font-xs: 1rem;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

// If letter spacing
$letterSpacing: 0.02em;

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
    letter-spacing: $letterSpacing;
}

.fbt{

    h1,
    .h1{
        @media (max-width: 992px){
            font-size: $h1-font-xs;
        }
    }

    h2,
    .h2{
        @media (max-width: 992px){
            font-size: $h2-font-xs;
        }
    }


    //.ReviewsSliderBlock .text-uppercase,
    .sub-title {
        display: inline-grid;
        font-family: $font-family-sans-serif;
        align-items: center;
        font-size: rem(15px);
        color: $headings-color;
        letter-spacing: 0;
        text-transform: none;
        position: relative;
	text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background-color: $secondary;
            margin: 8px auto;
        }
    }

    .ReviewsSliderBlock,
    .FeaturedRoomsBlock,
    .ThingsToDoMapBlock {
        //.text-uppercase,
        .sub-title {
            color: $headings-color;
            justify-content: center;
            padding-bottom: 0;
            margin-bottom: 0;

            &::before {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &::after {
                background-color: $primary;
            }

        }

        h2 span {
            margin: 0;
        }

        .reviews-slide {
            color: $body-color;
        }
    }

    .ThingsToDoMapBlock {
        .things-todo {
            .sub-title {
                &::after {
                    margin: 2.3rem auto;
                }
            }
        }
    }

    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-sans-serif;
    }
}


