// Overlapping blocks
$overlappingBlockTop: rem(140px);


// Awards
$awardsSectionBg: $gray-300;


// Facilities
$facilitiesSectionBg: $white;


// Features
$featuredRoomsSectionBg: $gray-300;
$featuresOverviewSectionBg: $gray-400;


// Instagram
$instagramFeedsSectionBg: $white;
$instagramFeedsTileBg: $secondary;


// Offers
$offersSectionBg: $white;

// RoomSliderBlock
$roomSliderSectionBg: $gray-400;


//What's on
$whatsOnSectionBg: $white;