// Header
$header-xs-color: $body-color;
$header-lg-color: $white;
$header-xs-bg: $white;
$header-lg-bg: transparent;
$header-sticky-bg: $white;
$header-sticky-color: $body-color;

$header-menu-letter-spacing: 0.1em;

$header-show-phone: false !default;