//ROOM CARD
$roomPagePriceColor: $secondary;
$roomCardTitle: 1rem;
$roomCardTitleIsUppercase: true;
$roomCardTitleIsUppercase: false !default;
$roomCardSlideMaxHeight: 300px !default;

$roomStatisticsColor: $secondary !default;