// Overlapping blocks
$overlappingBlockTop: rem(100px);


// Awards
$awardsSectionBg: $white;


// Facilities
$facilitiesSectionBg: $white;


// Features
$featuredRoomsSectionBg: $gray-100;
$featuresOverviewSectionBg: $gray-200;
$featuresOverviewSectionBorderRadius: rem(4px);


// Instagram
$instagramFeedsSectionBg: $white;
$instagramFeedsTileBg: $secondary;


// Offers
$offersSectionBg: $white;


// RoomSliderBlock
$roomSliderSectionBg: $gray-400;

//slick slider from Bounce TODO
$slickArrowColor: $white;
$slickArrowBg: $gray-800;


//What's on
$whatsOnSectionBg: $gray-100;

.hotel-intro {
    .hotel-intro {
        &-inner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: rem(0 -15px);
        }
        &-media,
        &-content {
            margin: rem(0 15px);
            @media screen and (min-width: 768px){
                width: 50%;
            }
        }
    }   
}