$gallery-type-grid: true;
$gallery-type-grid: false !default;

$gallery-col-sm: 50% !default;
$gallery-col-md: 25% !default;

$gallery-tile-squared: true;
$gallery-tile-squared: false !default;

$gallery-zoom-in: true !default;