// Header
$header-xs-color: $gray-700;
$header-lg-color: $gray-700;
$header-xs-bg: $white;
$header-lg-bg: $white;
$header-sticky-bg: $white;
$header-sticky-color: $gray-700;

$header-menu-letter-spacing: 0.1em;

$header-show-phone: true;
$header-show-phone: false !default;

$header-use-alternative-logo: true;
