//slick slider
$slickArrowColor: $white;
$slickArrowBg: $gray-800;
$slick-cards-show-arrows: false !default;

//Rooms slider block
$slick-rooms-slider-show-arrows-lg: true;

$slick-rooms-slider-show-dots-lg: false;
$slick-rooms-slider-show-dots-xs: false;