//Things to do
$thingsTodoBg: $secondary;
$thingsTodoColor: $white;
$thingsTodoColor: $body-color !default;
$thingsTodoBtnLight: true;
$thingsTodoBtnLight: false !default;
$thingsTodoInfoWindowBg: $white;

$things-todo-filters-inside-map: false; 