// Overlapping blocks
$overlappingBlockTop: rem(140px);
//$overlappingBlockTop: 0;


// Awards
$awardsSectionBg: $gray-300;


// Facilities
$facilitiesSectionBg: $white;


// Features
$featuredRoomsSectionBg: $gray-300;
$featuresOverviewSectionBg: #000;
$featuresOverviewColor: #FFF;


// Instagram
$instagramFeedsSectionBg: $white;
$instagramFeedsTileBg: $secondary;


// Offers
$offersSectionBg: $white;

// RoomSliderBlock
$roomSliderSectionBg: $gray-400;


//What's on
$whatsOnSectionBg: $white;


$featuresOverviewBackgroundColor: #000;
$hotelIntroBackgroundColour: #FFF;