//Footer
$footerTopBarBg: #000;
$footerBottomBarBg: $primary;
$footerColor: $white;
$footerNavColor: $white;

.footer-bar-top-inner-right > div {
  justify-content: end;
}

.footer-primary-nav ul > li {
  width: auto !important;
}
