//slick slider
$slickArrowColor: $white;
$slickArrowBg: $gray-800;
$slick-cards-show-arrows: true;


//Rooms slider block
$slick-rooms-slider-show-arrows-lg: false;

$slick-rooms-slider-show-dots-lg: true;
$slick-rooms-slider-show-dots-xs: false;

