$logo-xs-width: rem(120px);
$logo-lg-width: rem(210px);

$header-logo-xs-width: rem(72px);
$header-logo-lg-width: rem(140px);
$header-sticky-logo-lg-width: rem(140px);

/* IE10+ FIX */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .header-logo{
        svg{
            max-height: rem(40px);
        }
    }
}