.booking-form{

    //OVERRIDE BOOTSTRAP
    .form-control::placeholder { color: $body-color;} /* Chrome, Firefox, Opera*/
    :-ms-input-placeholder.form-control { color: $body-color; }  /* Internet Explorer*/
    .form-control::-ms-input-placeholder { color: $body-color; }  /* Microsoft Edge*/

    display: flex;
    flex-wrap: wrap;
    margin: 0;

    &-wrap{
        background-color: rgba($black, 0.5);
        display: inline-flex;
        padding: $grid-gutter-width/2 0; 
        
        @include media-breakpoint-up(lg){
            backface-visibility: hidden;
            position: relative;
            transform: translateZ(0);
            transition: all .4s; 

            &:after{
                content: '';
                background-color: rgba($black, 0.5);
                position: absolute;
                width: 100vw;
                height: 100%;
                top: 0;
                left: 100vw;
                transition: all .4s;
                z-index: -1;
            }
        }

        &.is-sticky{

            @include media-breakpoint-up(lg){
                background-color: transparent;
                position: fixed;
                left: 0;
                width: 100%;
                z-index: 3;
                left: 50%;
                transform: translateX(-50%);

                &:after{
                    left: 0;
                }
            }
        }
    }

    input[readonly],
    select{
        background: $white;
        color: $body-color;
        font-size: 1rem;

        @include media-breakpoint-up(lg){
            font-size: rem(12px);
        }
    }

    input[type="text"]{
        @include media-breakpoint-up(lg){
            width: $btn-lg-min-width;
        }
    }

    select{
        @include media-breakpoint-up(lg){
            width: rem(140px);
        }
    }

    .btn{
        width: 100%;
        border: 0;
        
        @include media-breakpoint-down(md){
            min-width: auto;
        }
    }

    .form-control{
        padding-right: rem(40px) !important;
        letter-spacing: $letterSpacing;
    
        &-icon{
            color: $formColor;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $input-height;
            width: rem(40px);
            position: absolute;
            top: 0;
            right: rem(10px);
            pointer-events: none;
            z-index: 2;
        }
        
        &-wrap{
            position: relative;

            width: 50%;

            @include media-breakpoint-up(lg){
                width: auto;
            }
        }
    
    }
}