.booking-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input[readonly]{
        background: $white;
    }
    
    input[type="submit"]{
        width: rem(240px) !important;
    }

    .form-control{
        padding-left: rem(40px) !important;
        width: rem(240px) !important;
        text-transform: uppercase;
        letter-spacing: $letterSpacing;
    
        &-icon{
            color: $formColor;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: rem(40px);
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 2;
        }
        
        &-wrap{
            position: relative;
            margin: rem(0 10px 10px 10px);
        }
    
    }

    &-details{
        display: inline-flex;
        flex-direction: column;
        font: {
            size: rem(14px);
            weight: $font-weight-bold;
        };
        margin-top: rem(32px);
        text-transform: uppercase;

        @include media-breakpoint-up(lg){
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: rem(24px);
            margin-top: rem(42px);
        }

        h2{
            color: $header-xs-color;
            font-size: inherit;
            font-weight: inherit;
            margin-bottom: 0;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-size: inherit;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            @include media-breakpoint-up(lg){
                flex-direction: row;
            }

            > li{

                @include media-breakpoint-up(lg){
                    margin-left: rem(40px);
                }
            }

            .fas,
            .fa,
            svg{
                color: $primary;
                margin-right: rem(10px);
            }

            svg{
                height: 1.5rem;
            }
        }

        &-wrap{
            @include media-breakpoint-down(md){
                text-align: center;
            }
        }

    }

    &-wrap{
        padding: rem(20px 0);
    }
}