.booking-form{

    //OVERRIDE BOOTSTRAP
    .form-control::placeholder { color: $body-color;} /* Chrome, Firefox, Opera*/
    :-ms-input-placeholder.form-control { color: $body-color; }  /* Internet Explorer*/
    .form-control::-ms-input-placeholder { color: $body-color; }  /* Microsoft Edge*/

    &-container{

        @include media-breakpoint-up(lg){
            position: absolute;
            top: calc(100% + 30px);
            right: $grid-gutter-width/2;
            width: auto;
            height: auto;
        }
    }

    &-widget{
        display: none;

        @include media-breakpoint-up(lg){
            background: rgba($white, .9);
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0; 
            width: 100%;
            background-color: $header-xs-bg; 
            opacity: 1;
            transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);

            @include media-breakpoint-up(lg){
                display: none;
            }
        }

        &.show{
            display: block;

            @include media-breakpoint-down(md){
                display: flex;
                align-items: center;
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
            }
        }  
    }

    &-wrap{
        
        padding: $grid-gutter-width/2 0;

        @include media-breakpoint-up(lg){
            width: 22rem;
            max-width: 100%;
        }        
    }

    &-dates{
        width: 100%;
        margin-bottom: $grid-gutter-width/4;

        &.two-col{
            @include media-breakpoint-up(md){
                display: flex;
                margin: {
                    bottom: 0;
                    left: -$grid-gutter-width/4; 
                    right: -$grid-gutter-width/4; 
                };
                width: calc(100% + 20px);
    
                > div{
                    padding: 0 $grid-gutter-width/4; 
                }
            }
        }
    }

    display: flex;
    flex-wrap: wrap;

    input[readonly],
    select{
        background: $white;
        color: $body-color;
        font-size: 1rem;

        @include media-breakpoint-up(lg){
            font-size: rem(12px);
        }
    }

    input[type="submit"]{
        width: 100%;
    }

    .form-control{
        padding-right: rem(40px) !important;
        text-transform: uppercase;
        letter-spacing: $letterSpacing;
    
        &-icon{
            color: $formColor;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $input-height;
            width: rem(40px);
            position: absolute;
            top: 0;
            right: rem(10px);
            pointer-events: none;
            z-index: 2;
        }
        
        &-wrap{
            position: relative;
            width: 100%;

            &:not(:last-child){
                margin-bottom: $grid-gutter-width/4; 
            }
        }
    
    }
}