.AlternatingBlock {
    margin-top:140px;
    .container {
        .text-col {
            font-size: 17px;
            line-height: 23px;
            color: $gray;;
            .sub-title {
                font-size: 21px;
                margin-bottom: 10px;
                &:before {
                    display: none;
                }
            }
            > h2 {
                font-size: 24px;
                margin-bottom: 30px;
                font-weight: bold;;
            }
        }
        .image-col {
            background-color: $primary;
            padding: 0px 0px 0px 50px;
        }
    }

    .row {
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;

        .image-col {
            margin-left: 0%;
        }

        .text-col {
            margin-left: 8.33333%;
        }

        &.alternate {
            -webkit-box-direction: unset;
            -ms-flex-direction: unset;
            flex-direction: unset;

            .image-col {
                margin-left: 8.33333%;
            }
    
            .text-col {
                margin-left: 0%;
            }
        }
    }
}