.ContactFormBlock {
    .contact {
        .justify-content-lg-between {
            > .col-xs-12 {
                display: box;
                display: -webkit-box;
                display: -moz-box;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                box-orient: vertical;

                > h2 {
                    font-size: 24px;
                    line-height: 29px;
                    font-weight: bold;
                }

                .my-4 {
                    -webkit-box-ordinal-group: 4;
                    -moz-box-ordinal-group: 4;
                    box-ordinal-group: 4;
                }

                .my-5 {
                    -webkit-box-ordinal-group: 3;
                    -moz-box-ordinal-group: 3;
                    box-ordinal-group: 3;
                    margin: 0px !important;
                }

                .hotel-contact-list {
                    > li {
                        margin: 11px 0px;
                        font-size: 16px;
                        color: $gray;
                        a {
                            font-weight: 100;
                        }
                    }
                }

                form {
                    .form-control {
                        border: 2px solid $gray;
                        opacity: 0.27;
                    }
                    label {
                        color: $gray;
                    }

                    input[type=submit] {
                        background-color: $primary !important;
                        color: $white !important;
                    }
                }
            }
        }
    }
}