.facilities {
    .heading-alignment {
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.facilities-card {
    .card-body {
        padding: 30px 0px;
        h3 {
            font-size: 24px;;
            line-height: 29px;
            margin-bottom: 18px;
            font-weight: bold;
            text-align: left;
            width: 80%;
        }

        .card-text {
            text-align: left;
            color: $gray;
            font-size: 17px;
            line-height: 23px;
            width: 80%;
        }
    }
}