
    .FeaturesOverviewBlock {
        background-color: $white !important;
        .features-overview {
            padding-bottom: 0px;
            .features-overview-container {
                .pb-gutter {
                    .btn-outline-primary {
                        padding: .6rem 2.5rem;
                    }
                }
            }
            .container {
                padding-top:100px;
                background-color: $white !important;

                .features-list {
                    max-width: 790px;
                    > li {
                        max-width: 25%;

                        &:first-child {
                            .features-list-description {
                                padding: 0px 20px;
                            }
                        }

                        &:nth-child(2) {
                            .features-list-description {
                                padding: 0px 20px;
                            }
                        }

                        &:nth-child(3) {
                            .features-list-description {
                                padding: 0 2.5rem;
                            }
                        }

                        &:nth-child(4) {
                            padding: 0 1rem;
                        }
                    }
                    .features-list-description {
                        p {
                            color: $gray;
                            text-transform: capitalize;;
                        }
                    }
                }
                .sub-title {
                    text-align: center;
                    font-size: 21px;
                    color: $gray;
                    flex-direction: column;
                    padding-bottom: 20px;
                    &:before{
                        display: none;
                    }
                }
                h2 {
                    font-size: 24px;
                    margin: 0px;
                    font-weight: bold;;
                }
            }
        }
    }
