//Footer
$footerTopBarBg: #000000;
$footerBottomBarBg: $gray-750;
$footerColor: $gray-750;
$footerNavColor: $gray-750;

.footer-bar-top-inner-right {
  padding-left: 0rem !important;
  width: 100%;
  max-width: 430px;
}
.footer-bar-top-inner-right > div {
  justify-content: flex-end;
}

.footer-primary-nav ul {
  justify-content: flex-end; 
  > li {
    margin-right: 0px;
    margin-left:40px;
    width: auto !important;
  }
  >li:not(:last-child) {
    margin-right: 0px !important;
  }
}


.footer-contact-details {
  ul {
    >li {
       i {
          color: $white !important;
       }
    }
  }
} 

ul.footer-socials-list {
  >li {
    i {
       color: $white !important;
    }
 }
}

.footer-secondary-nav {
    ul {
      >li {
        margin-right: 0rem !important;
        margin-bottom: 0 !important;
        @media (max-width: 992px) {
          border-right: 0px !important;
        }
      }
      >li:not(.d-none) {
        padding: 0px 2.5rem;
        padding-bottom: 0;
        border-right: 1px solid $white;
         a {
          color: $white !important;
         }
      }
      >li:last-child {
        border-right: 0px;
      }
    }
}