$gallery-type-grid: false;
$gallery-type-grid: false !default;

$gallery-col-sm: 50% !default;
$gallery-col-md: 33% !default;

$gallery-tile-squared: true;
$gallery-tile-squared: false !default;

$gallery-zoom-in: true !default;

.gallery {
    h2.heading-alignment {
        font-size: 24px;
        font-weight: bold;
    }

    .gallery-tile {
        @media (max-width: 576px) {
            padding-top: 0;
            height: 100%;
        }
        img {
            @media (max-width: 576px) {
                position: relative;
                -webkit-transform: none;
                transform: none;
                left: 0;
                top: 0;
            }
        }
    }
}