// Header
$header-xs-color: $body-color;
$header-lg-color: $white;
$header-xs-bg: $white;
$header-lg-bg: transparent;
$header-sticky-bg: $white;
$header-sticky-color: $white;

$header-menu-letter-spacing: 0.1em;

$header-show-phone: false !default;

$header-border-bottom: 0px;

$hero-overlay-opacity: 0.5;

$nagivation-background-image: none;
$navigation-has-current-and-not-current-opacity: 0.75;
$navigation-font-weight: $font-weight-bold;
$navigation-underlines-display: none;

.header-content .header-menu {
  flex-wrap: wrap;
  // > li:last-child {
  //   flex-basis: 100%;
  //   display: flex;
  //   flex: 1 0 100%;
  //   display: flex;
  //   margin-top: 0px;
  //   flex-basis: calc(100% - 22px);
  //   justify-content: center;
  //   flex-direction: column;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: row;
  //   .book-now-link {
  //       margin-top: 40px;
  //       float: right;
  //       margin-right: 0px;
  //       margin-left: auto;
  //       width: 320px;
  //       border: 2px solid $primary;
  //       background-color: $primary;;
  //   }
  // }
}


.header-logo-wrap {
  .header-logo {
   
    @media (max-width: 992px) {
      padding-top:10px;
      width: 12.5rem !important;
    }
  }
}



.header-content .booking-form-container {

  @media (min-width: 992px) {
    bottom: 100%;
    position: absolute;
    top: calc(100% - 35px);
    width: auto;
    height: auto;
    opacity: 1;

    &.show {
      opacity: 1;
    }
   
    button.btn-primary {
      width: 352px;
      height: 55px;
      text-align: center;
      background-color: $primary !important;
      color: $white !important;
      padding: 0px !important;
      margin-top: 50px;
      &.show {
        span {
          &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
            margin-left: 5px;
          }
        }
      }

      &:hover {
        background-color: rgba(255,0,0,.75);
      }
    }

    .booking-form {
      margin-bottom: 15px;
    }

    .js-toggle-booking {
      text-align: left;
      padding: 20px;
      position: relative;

      > span {
        &:after {
          font-family: "Font Awesome 5 Free";
          content: "\f078";
          font-weight: 900;
          margin-left: 5px;
        }
      }

      &:after {
        display: none;
        font-family: "Font Awesome 5 Free";
        content: "\f00d";
        color: #000;
        font-weight: 900;
        position: absolute;
        right: 20px;
      }
    }

    .booking-form-wrap {
      padding-top: 15px;
      padding-bottom: 0;

      &.show {
        display: block;
      }
    }

    .form-control-wrap input[type="submit"] {
      background-color: $primary;
      color: #FFF;

      &:hover {
        background-color: darken($primary, 5%);
        border-color: darken($primary, 5%);

        &:active {
          background-color: darken($primary, 10%);
          border-color: darken($primary, 10%);
        }
      }

    }

  }



}

.hero-background {
  .hero-slide {
    &:after {
      background-color:transparent !important;
    }

    .hero-slide-content {
      flex-direction: column;
      align-items: stretch;

      h1 {
        color: $primary;
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
        width: 100%;
        padding-right: 33% !important;

        @media (max-width: 992px) {
          padding-right: 10% !important;
        }

      }

      h2 {
        margin-top: 2rem;
        z-index: 2;
        color: #FFF;
        font-family: $font-family-sans-serif;
        font-size: rem(23px);
      }


      h1,
      h2 {
        width: 100%;
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
        margin-right: auto;
        margin-left: auto;
        text-align: left;

        @media (min-width: 576px) {
          max-width: 540px;
        }

        @media (min-width: 768px) {
          max-width: 720px;
        }

        @media (min-width: 992px) {
          max-width: 960px;
        }

        @media (min-width: 1440px) {
          max-width: 1280px;
        }
      }
    }
  }

}


.btn-primary {
  color: $primary !important;
  background-color: $white !important;
  border-color: $primary !important;

  &:hover {
    background-color: $primary !important;
    color: $white !important;
  }
}


.header.is-sticky {
  .header-logo-wrap {
    
  }
  .header-menu {
      
      > li {

        @media (max-width: 992px) {
          display: block;
        }
        > a, span.language_slug {
          color: $gray !important;
        }

        .header-menu-level-1 {
          > li {
            i {
              color: $gray;
              opacity: .5;
            }
            a {
              color: $white;
            }
          }
        }
      }

  }
}

.header {
  #menu {
    .header-menu {
      &.has-current {
        span.language_slug {
          opacity: .5;
        }
      }
      > li {
        margin-left: 32px;
        .language-menu {
          display: none;
          + .header-menu-level-1 {
            display: none;
          }
        }
        a {
          text-transform: capitalize;
          &:hover {
            color: $primary;
          }
        }
        span.language_slug {
          color: $white;
        }

        .header-menu-level-1 {
          z-index: 100;
          li:first-child {
            background-color: transparent;
          }

          li {
            background-color: $gray-800;
          }
        }
      }
    }
  }
}