.HotelIntroductionBlock {
    $hotelIntroBackgroundColour: $white !default;
    $hotelIntroBackgroundColour: $white;
    background-color: $hotelIntroBackgroundColour !important;
    

    .row {
        display: -webkit-box;
        display: -moz-box;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: column;
        -webkit-box-direction: normal;
        margin-left:0px !important;
        margin-right: 0px !important;

        .hotel-intro-content  {
            margin-left:0px !important;
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;

            @media (max-width: 992px) {
                margin-bottom: 40px;
            }
            .sub-title {
                color: $gray;
                font-size: 21px;
                line-height: 25px;;;
                margin-bottom: 0px;
                &:before {
                    display: none;
                }
            }
            h2 {
                margin:16px 0px 28px;
                font-size:24px;
            }

            .hotel-contact-list {
                > li {
                    margin-top: 22px;
                }
            }

            p {
                font-size: .875rem;
                font-weight: 500;
                line-height: 23px;
            }

            .hotel-intro-cta {
                a.btn-lg {
                    padding: .65rem 4.2rem;
                }
            }
        }

        .hotel-intro-media {
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -ms-flex-order: 2;
            -webkit-order: 2;
            order: 2;
            flex: 0 0 50% !important;
            max-width: 50% !important;


            @media (max-width: 992px) {
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }

            img {
                background-color: red;
                padding: 0px 0px 0px 50px;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
  