#e50, #e8 {
    height: 300px;
    @media (max-width: 992px) {
        height: 100px;
    }

    .heading-alignment {
        h2 {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }
    }
}