
.RestaurantsBlock {

  .intro {
    margin-bottom: 0rem;
    display: none;

    +.row {
      .col {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
      }
    }
  }

  

  .row {
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      &:not(.intro):not(.alternating-rows) {
        display: none;
      }
    }

    .col {
      .sub-title {
        font-size: 21px;

        &:before {
          display: none;
        }
      }
    }

    .image-col {
        background-color: $primary;
        padding-left: 50px !important;
        padding-right: 0px !important;
        padding: 0px 0px 0px 50px;
        margin-top: -50px;

        @media (max-width: 768px) { 
          margin-top:10px;
          margin-bottom: 10px;
          margin-left: 0px !important;
        }
    }

    .text-col {
      font-size: 17px;
      line-height: 23px;
      color: #707070;

      @media (max-width: 768px) { 
        margin-top:10px;
        margin-bottom: 10px;
        margin-left: 0px !important;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: bold;  
      }

      .links {
        margin-top: 2rem;
      }
    }

    &#restaurant-link-fitness-centre {
      .image-col {
          margin-left: 0%;
      }

      .text-col {
          margin-left: 8.33333%;

          a.reservations-link {
            display: none;
          }
      }
    }

    &#restaurant-link-the-brook-bar-eatery {
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;

      .image-col {
        margin-left: 8.33333%;
      }
    
      .text-col {
        margin-left: 0%;
      }
    }

    h2 {
      display: none;
    }
  }


 

}