.reviews{
    &-foreground{
        padding: 42px 0 10rem !important;
        h2 {
            font-weight: 900;
        }
    }

    &-background:after {
        background-color: rgba(0,0,0,0) !important;
    }
}