
	.card-cta-wrap{
		justify-content: unset !important;
		> div{
			flex: 1;
			margin-bottom: rem(20px);
			min-width: 220px !important;
			margin-right:20px;
			max-width: 220px !important;
		}
	}


	.fbt {
		.FeaturedRoomsBlock {
			.text-row {
				p {
					color: $gray;
					line-height: 23px;
					font-size: .875rem;
    				font-weight: 500;
				}
			}
			.sub-title {
				text-align: left;
				justify-content: left;
				color: $gray;
				font-size: 21px;
				line-height: 25px;;
				margin-bottom: 0;
				padding: 0px;
				&:before {
					display: none;
				}
			}

			.heading-with-icon {
				margin: 20px 0px;
    			padding: 0px;
				span {
					font-size: 24px;
					line-height: 29px;
				}
			}
		}
	}

	.room-card {
		.room-card-slider {
			.room-card-slide {
				max-height: unset;
			}
		}
		.card-body {
				padding: 20px 0px !important;
				max-width: rem(600px);

				.card-text {
					font-size: .875rem;
    				font-weight: 500;
				}
		}

		h5 {
			color: $primary;
		}

		p {
			color: $gray;
		}
	}