.room-page {
    &-details {
        color: $gray;
        font-size: 17px;
        line-height: 23px;;
        padding: 5rem 0 !important;

        h2 {
            margin-top: 0px;
            margin-bottom: 50px;
            font-size: 24px;
            font-weight: bold;
        }

        .room-statistics {
            font-size: 16px;
            line-height: 24px;
            color: $gray;;
            margin-bottom:30px !important;
        }

    }
}

.room-page-calendar {
    background-color: $white !important;
    padding: 160px 0px 3rem !important;
    h3 {
        padding: 0 40px !important;
        text-align: left !important;
        font-size: 13px;;
    }

    .booking-form-wrap {
        .booking-form {
            input[type="text"], select {
                border:2px solid $gray-700;
                
            }
            .form-control-icon {
                i {
                    color: $gray-700;
                }
            }
            .btn-outline-primary {
                background-color: $primary;
                color: $white;
            }
        }
    }


}