//Things to do
$thingsTodoBg: $black;
$thingsTodoColor: $white !default;
$thingsTodoBtnLight: false !default;
$thingsTodoInfoWindowBg: $gray-400;

$things-todo-filters-inside-map: false;


    .things-todo-filters{
        p {
            margin: 36px auto 60px;
        }

        .sub-title {
            margin-bottom: 10px !important;
            &:before {
                display:none;
            }
        }

        ul.things-todo-filters-list {
            padding: 50px 0px;
            > li {
                > button {
                    background-color: transparent;
                    border-color: $white;
                    color: $white;

                    &:hover {
                        background-color: $primary;
                        color: $white;
                        border: 2px solid $primary;
                    }

                    &.active {
                        background-color: $primary !important;
                        border-color: transparent;
                    }
                }
            }
        }
    }
    

.things-todo-content {
    top: -10rem !important;
    h2 {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 30px;
    }
    p{
        max-width: 860px !important;
    }
    .container {
        max-width: 1280px !important;
    }
}