//https://github.com/aFarkas/lazysizes

/* fade image in while loading and show a spinner as background image (good for progressive images) */
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity .3s;
}