.picker__holder{
    min-width: rem(240px);
}

.picker--focused .picker__day--highlighted, 
.picker__day--highlighted:not(.picker__day--disabled):hover, 
.picker__day--infocus:not(.picker__day--disabled):hover, 
.picker__day--outfocus:not(.picker__day--disabled):hover{
    background: $primary;
    color: $white;
}

.picker__button--clear:hover, 
.picker__button--close:hover, 
.picker__button--today:hover{
    background: $secondary;
}

.picker__nav--next:hover, 
.picker__nav--prev:hover{
    background: $white;
}

.picker__nav--next:hover:before{
    border-left-color: $primary;
}
.picker__nav--prev:hover:before{
    border-right-color: $primary;
}