.things-todo{
    .si-content-wrapper{
        background-color: $thingsTodoInfoWindowBg;
        border-radius: $themeBorderRadius;
        border: none !important;
    }

    .si-pointer-bg-top{
        border-top-color: $thingsTodoInfoWindowBg;
    }

    .si-content{
        color: $body-color;
        font-family: $font-family-base;

        h4{
            font-size: rem(20px);
            text-align: center;
        }

        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;

            > li{
                i{
                    font-size: 0.9em;
                    line-height: 1.5;
                    margin-right: 7px;
                }
            }
        }
    }
}