.slick{
    &-dotted{
       &.slick-slider{
           margin-bottom: 0 !important;
       }
    }
    &-arrow{
        @if($slick-cards-show-arrows == false){
            display: none !important; 
        }
    }

    &-dots{
        @extend .container;
        bottom: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
        margin: 0 auto;
        right: 0;
        left: 0;
        display: inline-flex;
        justify-content: flex-end;
        z-index: 2;

        > li {
            display: inline-flex;
            align-items: center;
            width: rem(24px);

            &:hover{
                button{
                    opacity: 0.6;
                }
            }

            &.slick-active{

                button{
                    background-color: $primary;
                }
            }

            button{
                background: $white;
                transition: all .3s ease-in-out;

                &:before{
                    display: none;
                }
            }
        }
    }

    &-slide{
        outline: none !important;
    }
}