.hero-slider{

    .slick{
        overflow: hidden;

        &-dots{
            bottom: $grid-gutter-width;

            > li {
                @include media-breakpoint-up(lg){
                    width: rem(80px);
                }
            }
        }

        &-list{
            height: 100%;
        }

        &-track{
            height: 100%;
        }

        &-slide{
            > div{
                height: 100%;
            }
        }
    }
}