@import url("https://use.typekit.net/lnc1fhf.css");

$rem-baseline: 14px; // By default, sass-rem now uses a 16px baseline


//
// Override Boostrap Default Fonts
//
$font-family-sans-serif:      proxima-nova, sans-serif;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          600;
$font-weight-bold:            700;

$body-color: $gray-900;
$font-size-base: rem(16px);
$font-weight-base: $font-weight-light;
$line-height-base: 1.5;

$headings-font-family: $font-family-base;
$headings-font-weight: $font-weight-medium;
$headings-color: $gray-900;
$headings-margin-bottom: 1rem;

$h1-font-size: rem(60px);
$h1-font-xs: rem(32px); 
$h2-font-size: rem(30px);
$h2-font-xs: rem(26px); 
$h3-font-size: rem(18px);
$h3-font-xs: 1rem; 
$h4-font-size: rem(14px);
$h5-font-size: rem(14px);
$h6-font-size: rem(14px);

// If letter spacing
$letterSpacing: 0;

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
    letter-spacing: $letterSpacing;
}

.fbt{
    h3,
    h4,
    h5,
    h6{
        text-transform: uppercase;
        letter-spacing: .18em;
    }

    h1,
    .h1,
    h2,
    .h2{
        font: {
            family: baskerville-display-pt, serif;
            weight: 700;
        }
    }

    h1,
    .h1{
        @media (max-width: 992px){
            font-size: rem(30px);
        }
    }

    h2,
    .h2{
        @media (max-width: 992px){
            font-size: rem(26px);
        }
    }
}


