$themeDirectory: '/themes/taylors-motel-flip-theme';

//Footer
$footerTopBarBg: $dark-green;
$footerBottomBarBg: $gray-100;
$footerColor: $dark-green;
$footerNavColor: $white;

.footer-bar-top-inner-right > div {
  justify-content: end;
}

.footer-primary-nav ul > li {
  width: auto !important;

  a {
    color: $white !important;

    &:hover {
      color: $light-yellow !important;
    }
  }
}

.footer-secondary-nav > ul {
    li {
      a {
        color: $secondary;
        transition: color 0.3s;
      }
    }
}

.footer-socials-list {
  li {
    a {
      color: $white;
      &:hover {
        color: $light-yellow;
      }

      i {
        color: $white;
        &:hover {
          color: $light-yellow;
        }
      }
    }
  }
}

.footer-contact-details {

  ul.hotel-contact-list {

      > li {

        color: $white;

        a{

          color: $white;

          &:hover{
            color: $light-yellow;
          }

          i {
            color: $white;
          }

        }

        i{
          color: $white;
        }

      }

  }

}


