$themeDirectory: '/themes/taylors-motel-flip-theme';

// Header
$header-xs-color: $white;
$header-lg-color: $white;
$header-xs-bg: $white;
$header-lg-bg: transparent;
$header-sticky-bg: $white;
$header-sticky-color: $white;

$header-menu-letter-spacing: 0.1em;

$header-show-phone: false !default;

$header-border-bottom: 1px solid rgba(255, 255, 255, 0.1);

$hero-overlay-opacity: 0.5;

$nagivation-background-image: none;
$navigation-has-current-and-not-current-opacity: 0.5;
$navigation-font-weight: $font-weight-bold;
$navigation-underlines-display: none;

header {
  &.header {
    background: transparent;
    border-bottom: 1px solid $light-yellow;
  }

  &.is-sticky {
    .header-content {

      .burger {
        .bar,
        &::before,
        &::after {
          background-color: $primary;
        }
      }

      .header-menu {

        & > li {
          a {
            color: $dark-green;

            &:hover {
              color: $primary;
            }
          }
        }

        .btn {
          &.book-now-link {
            border-color: $dark-green;
            color: $dark-green;

            &:hover {
              border-color: $primary;
              color: $white;
            }
          }

        }
      }
    }
  }
}


.header-content {
  .header-menu {
    flex-wrap: nowrap;

    .btn {
      &.book-now-link {
        background-color: transparent;
        border-color: $white;
        color: $white;

        &:hover {
          background-color: $primary;
          border-color: $primary;
          color: $white;
        }
      }
    }

    &.has-current a {
      opacity: 1;

      &.current {
        color: $secondary;
      }
    }

    & > li a {
      color: $white;

      &:hover {
        color: $primary;
      }
    }
  }

  /* Mobile Menu Items */
  .header-nav {
    &.show {

      .header-menu {

        a {
          color: $secondary;
          &.current {
            color: $primary;
          }
        }

        .btn {
          &.book-now-link {
            border-color: $secondary;
            color: $secondary;

            &:hover {
              background-color: $primary;
              border-color: $primary;
              color: $white;
            }
          }
        }

      }

    }
  }

}


.header-content .booking-form-container {

  @media (min-width: 992px) {
    bottom: 100%;
    top: auto;
    transition: all 0.3s;
    opacity: 0.3;
    background-color: #FFF;


    .booking-form-widget {
      display: block;
    }

    .booking-form {
      margin-bottom: 15px;
    }


    &.show {
      // Assume height is 240px
      bottom: -360px;
      top: auto;
      opacity: 1;
    }

    .js-toggle-booking {
      background-color: #FFF !important;
      color: $secondary !important;
      border-color: #FFF !important;
      text-align: left;
      padding: 20px;
      position: relative;

      &:after {
        font-family: "Font Awesome 5 Free";
        content: "\f00d";
        color: #000;
        font-weight: 900;
        position: absolute;
        right: 20px;
      }
    }

    .booking-form-wrap {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

}

.hero {
  .vimeo-hero {
    iframe {
      max-width: inherit;
    }
  }
}

.hero-overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(-15%);

  .overlay-info-box {
    width: 100%;

    .overlay-title { font-size: 3rem; }
    .overlay-excerpt { font-size: 1.25rem; }
    .overlay-link {
      transition: ease 0.3s;

      &:hover {
        border-color: #efefef;
        background-color: #efefef;
      }
    }

    @media (min-width: 992px) {
      width: 50%;
    }

  }

  .btn-white {
    color: $primary;
    background-color: $white;
    border-color: $white;
    &:hover {
      background-color: $white;
      color: black;
    }
  }
}

.hero-background {

  .hero-slide-content {
    flex-direction: column;
    align-items: stretch;

    h1 {
      font-size: rem(61px);
    }

    h2 {
      margin-top: 2rem;
      z-index: 2;
      color: #FFF;
      font-family: $font-family-sans-serif;
      font-size: rem(23px);
    }


    h1,
    h2 {
      width: 100%;
      padding-right: ($grid-gutter-width / 2);
      padding-left: ($grid-gutter-width / 2);
      margin-right: auto;
      margin-left: auto;
      text-align: left;

      @media (min-width: 576px) {
        max-width: 540px;
      }

      @media (min-width: 768px) {
        max-width: 720px;
      }

      @media (min-width: 992px) {
        max-width: 960px;
      }

      @media (min-width: 1440px) {
        max-width: 1280px;
      }
    }
  }


}