
.hotel-intro {

  &.section-image-text { background-color: $light-yellow; }
  &.section-text-image { background-color: $white; }

  .hotel-intro-media,
  .hotel-intro-content {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0 !important;
    text-align: center;

    @media (min-width: 992px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .hotel-intro-media {
    padding-left: 0;
    padding-right: 0;
  }

}
