//Things to do
$thingsTodoBg: $white;
$thingsTodoColor: $body-color !default;
$thingsTodoBtnLight: false !default;
$thingsTodoInfoWindowBg: $gray-400;

$things-todo-filters-inside-map: false;


.things-todo {

  .things-todo-filters-list {
    button {
      width: initial;
    }
  }

  button {
    border: none;
    color: $secondary !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &.active,
    &:hover {
      border: none !important;
      background-color: $white !important;

      border-bottom: 2px solid $secondary !important;
    }
  }

  .things-todo-content {
    top: -2rem;
  }

}
