// Overlapping blocks
$overlappingBlockTop: 0;


// Awards
$awardsSectionBg: $white;


// Facilities
$facilitiesSectionBg: $white;


// Features
$featuredRoomsSectionBg: $gray-100;
$featuresOverviewSectionBg: $white;


// Instagram
$instagramFeedsSectionBg: $white;
$instagramFeedsTileBg: $secondary;


// Offers
$offersSectionBg: $white;


// RoomSliderBlock
$roomSliderSectionBg: $gray-400;

//slick slider from Bounce TODO
$slickArrowColor: $white;
$slickArrowBg: $gray-800;


//What's on
$whatsOnSectionBg: $gray-100;

.ReviewsBlock {
    h2 {
        text-align: center;
    }
}