//cards
$cardDefaultBg: $white;
$cardAltBg: $gray-100;
$featuredCards: $cardDefaultBg;

.whats-on {
    .card-body {
        display: flex;
        flex-direction: column;
        .card-cta-wrap {
            margin-top: auto;
        }
    }
}