@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

//
// Override Boostrap Default Fonts
//
$font-family-sans-serif:      'Montserrat', sans-serif;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;

$body-color: $gray-800;
$font-weight-base: $font-weight-normal;
$headings-color: $gray-900;
$h2-font-size: rem(30px);


// If letter spacing
$letterSpacing: 1.5px;

h1,
h2,
h3,
h4,
h5,
h6{
    letter-spacing: $letterSpacing;
}

h1,
h2 {
    font-weight: 700 !important;
}