// General
$themeBorderRadius: 0px;
$themeCardBorderColor: transparent;

// Forms
$formColor: $body-color;
$inputBorderColor: $gray-700;

// Button & Input 
$border-radius: $themeBorderRadius;
$border-radius-lg: $themeBorderRadius;
$input-border-radius: $border-radius-lg;

$input-btn-padding-y: rem(12px);
$input-height: rem(50px);
$input-color: $formColor;

$btn-border-width: 3px;
$btn-font-weight: 700;

$btn-lg-min-width: rem(220px);

$btn-outline-border-color: $primary;
$btn-outline-color: $primary;

//Card
$borderTopradius: $themeBorderRadius;
$borderBottomRadius: 0;

// Square Tile
$squareTileBorderRadius: $border-radius-lg;


$alternatingOffset: 0;
$alternatingTextColColumns: 6;


// Bootstrap Spacing
$grid-gutter-width: 30px;
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    4: $spacer,
    gutter: $grid-gutter-width,
    10: ($spacer * 2.5),
    16: ($spacer * 3.5),
    30: ($spacer * 7.5)
  ),
  $spacers
);