.whats-on{
    background-color: $whatsOnSectionBg;
    padding: rem(56px 0 26px);
    
    @include media-breakpoint-up(lg){
        padding: rem(105px 0 75px);
    }

    h2{
        text-align: center;
        margin-bottom: rem(50px);
    }

    .card{
        height: 100%;
        border-width: 0;
        &-body{
            width: 85%;
            margin: auto;
            padding-bottom: rem(48px);
            text-align: center;
    
            h3{
                font-size: rem(24px);
            }
    
            p{
                font-weight: $font-weight-light;
            }

            .card-day{
                font: {
                    size: rem(14px);
                    weight: $font-weight-bold;
                };
                text-transform: uppercase;
            }

            .card-cta-col{
                margin-bottom: $grid-gutter-width/2;
            }
        }
    }
}