.whats-on{
    background-color: $whatsOnSectionBg;
    padding: rem(56px 0 26px);
    
    @include media-breakpoint-up(lg){
        padding: 5rem 0 4rem;
    }

    h2{
        margin-bottom: rem(50px);
    }

    .card{
        background: $cardAltBg;
        height: 100%;
        border-width: 0;
        &-body{    
            display: flex;
            flex-wrap: wrap;
            padding: rem(30px);

            .card-cta{
                &-wrap{
                    align-self: flex-end;
                    order: 4;
                    width: 100%;
                }

                &-inner{
                    display: flex;
                    flex-wrap: wrap;
                    margin: {
                        right: -$grid-gutter-width/4;
                        left: -$grid-gutter-width/4;
                    };
                }

                &-col{
                    padding: $grid-gutter-width/4;
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;

                    .btn{
                        white-space: nowrap;
                    }
                }

            }
        }

        &-day{
            order: 2;
            color: $gray-800;
            font: {
                size: rem(12px);
                weight: $font-weight-bold;
            };
            margin-bottom: $grid-gutter-width/4;
            text-transform: uppercase;
            width: 100%;
        }

        &-title{
            font-size: 1rem;
            order: 1;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        &-text{
            order: 3;
            width: 100%;
        }
    }
}