.absolute-cover-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

 /* IE10+ FIX */
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     //object fit doesn't work on IE
    .img-ie-fix{
        max-height: 300px;
    }
}

.image-shadow-wrap{

    @if($image-shadow-width > 0px){
        align-self: flex-start; //avoid intenal image to grow, when inside the room card
        position: relative;
        padding: {
            bottom: $image-shadow-spacing;
            right: $image-shadow-spacing;
        }

        img{
            position: relative;
            z-index: 1;
        }

        &:after{
            content: "";
            background-color: $image-shadow-color;
            border-radius: $themeBorderRadius;
            display: block;
            width: calc(100% - #{$image-shadow-spacing});
            height: calc(100% - #{$image-shadow-spacing});
            position: absolute;
            left: $image-shadow-width;
            top: $image-shadow-width;
        }
    }
}