.min-w{
    &-3-lg{
        @include media-breakpoint-up(md){
            min-width: 50%; 
        }
        @include media-breakpoint-up(lg){
            min-width: 25%;
        }
    }

    &-4{
        min-width: 33.3333%;
    }
}

.section-spacing{
    padding: $section-py-xs 0;

    @include media-breakpoint-up(lg){
        padding: $section-py-lg 0;
    }
}