.tile{

    &-squared{
        border-radius: $squareTileBorderRadius;
        padding-top: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: all .4s ease-in-out;

        &-content{
            position: absolute;
            top: 0;
        }
    
       &-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            > div{
                margin: {
                    bottom: $grid-gutter-width;
                }
            }

            a{
                img{
                    transition: all .3s ease-in-out;
                }

                &:hover{

                    .tile-squared{
                        box-shadow: 0 22px 40px 0 rgba(0,0,0,0.15);
                    }

                    img{
                        width: 110%;
                        height: 110%;
                    }
                }
            }
       }
    }
}