.heading-with-icon{
    display: flex;
    flex-direction: column;

    span{
        margin-top: rem(20px);
    }

}

.heading-alignment{
    text-align: $headings-block-alignment;
}

.sub-title{
    font: {
        size: rem(14px);
        weight: $font-weight-medium;
    };
    color: $gray-800; //todo: variable
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: rem(6px);
}