//Note: Style taken from Good Life Suites

a.zoom-in{
  @if $gallery-zoom-in{
    display:block;
    position:relative;
    overflow:hidden;
    height: 100%;

    &:before{
      position:absolute;
      content:'';
      display:block;
      height:120px;
      width:120px;
      bottom:0;
      right:0;
      transform:rotateZ(45deg) translate(125%, 0);
      background:$primary;
      transition:transform 0.2s ease;
      z-index: 2;
    }

    &:after{
      position:absolute;
      content:'';
      background-image:url('../img/Zoom.png');
      background-size: 30px;
      height:30px;
      width:30px;
      font-size:30px;
      color:$white;
      bottom:-30px;
      right:-22px;
      transition:bottom 0.2s 0.1s ease-out, right 0.2s 0.1s ease-out;
      z-index: 3;
    }

    &:hover{
      &:before{
        transform:rotateZ(45deg) translate(75%, 0);
      }
      &:after{
        bottom:7.5px;
        right:5.5px;
      }
    }
  }
  @else{
    img{
      transition: all .3s ease-in-out
    }

    &:hover{
      img{
        width: 110%;
        height: 110%
      }
    }
  }
}