// Overlapping blocks
$overlappingBlockTop: 0;


// Awards
$awardsSectionBg: $gray-100;


// Facilities
$facilitiesSectionBg: $gray-100;


// Features
$featuredRoomsSectionBg: $gray-100;
$featuresOverviewSectionBg: $white;


// Instagram
$instagramFeedsSectionBg: $white;
$instagramFeedsTileBg: $secondary;


// Offers
$offersSectionBg: $gray-100;


// RoomSliderBlock
$roomSliderSectionBg: $gray-400;

//slick slider from Bounce TODO
$slickArrowColor: $white;
$slickArrowBg: $gray-800;


//What's on
$whatsOnSectionBg: $gray-100;

//NOTE: client didn't want to have the image below the hero section
.hotel-intro-media{
    @media(max-width:1440px){
        display: none;
    }
}