// Header
$header-xs-color: $white;
// $header-lg-color: $white;
$header-xs-bg: $primary;
// $header-lg-bg: transparent;
$header-sticky-bg: $white;
$header-sticky-color: $body-color;

// $header-menu-letter-spacing: 0.1em;

$header-show-phone: true;
$header-show-phone: false !default;

$header-use-alternative-logo: false !default;
