//ROOM CARD
$roomPagePriceColor: $body-color;
$roomCardTitle: rem(24px);
$roomCardTitleIsUppercase: false !default;
$roomCardSlideMaxHeight: 400px;
$roomCardSlideMaxHeight: 300px !default;

$roomStatisticsColor: $primary;
$roomStatisticsColor: $secondary !default;
