//Things to do
$thingsTodoBg: $secondary;
$thingsTodoColor: $body-color !default;
$thingsTodoBtnLight: true;
$thingsTodoBtnLight: false !default;
$thingsTodoInfoWindowBg: $secondary;

$things-todo-filters-inside-map: true; 