$timing-function   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$nav-item-nb       : 10;

$book-btn-lg-min-width: rem(220px);

.header{
    background-color: $header-xs-bg; 
    color: $header-xs-color;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;

    @include media-breakpoint-up(lg){
        background-color: $header-lg-bg; 
        color: $header-lg-color;
    }

    transition: padding .1s $timing-function, background-color .3s ease-out;

    &.is-sticky{
        background: {
            color: $header-sticky-bg; 
            image: none;
        };
        color: $header-sticky-color;

        .header-logo{

            &.is-alternative{
                img{
                    display: none;
                }
            }
        }
    }

    &-content{
        display: flex;
        justify-content: flex-end;
        min-height: rem(60px);
        padding-right: 4rem;

        @include media-breakpoint-up(lg){
            padding-right: 0;
        }
    }

    &-cta-wrap{
        position: fixed;
        width: 100vw;
        left: 0;
        top: rem(54px);
        z-index: 2;

        @include media-breakpoint-up(lg){
            position: static;
            order: 2;
            width: auto;
            left: auto;
            bottom: auto;
        }

        .btn{
            background: $primary;
            border-color: $primary;
            width: 100%;

            @include media-breakpoint-up(lg){
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding-top: rem(20px);
                position: relative;
                min-width: $book-btn-lg-min-width;

                &:after{
                    content: '';
                    width: rem(12px);
                    height: rem(12px);
                    border: {
                        top: 6px solid darken($primary, 30%);
                        left: 6px solid darken($primary, 30%);
                        bottom: 6px solid transparent;
                        right: 6px solid transparent;
                    };
                    position: absolute;
                    bottom: rem(-15px);
                    right: rem(-15px);
                    transition: border-color .3s .1s;
                    z-index: -1;
                }

                &:before{
                    content: '';
                    background: $primary;
                    min-width: $book-btn-lg-min-width;
                    height: rem(15px);
                    position: absolute;
                    bottom: rem(-15px);
                    left: -3px;
                }
            }
        }

        .header-phone{
            position: absolute;
            top: rem(-40px);
            right: 1rem;

            @include media-breakpoint-up(lg){
                top: rem(10px);
                right: calc(#{$book-btn-lg-min-width} + 40px);
            }

            svg{
                height: rem(28px);

                @include media-breakpoint-up(lg){
                    height: 1.5rem;
                }
            }

            span{
                display: none;
                color: $gray-800;

                @include media-breakpoint-up(lg){
                    display: inline-block;
                }
            }
        }
    }

    &-logo{
        width: $logo-xs-width;

        


        &-wrap{
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            flex-grow: 3;
            max-height: rem(54px);
        }

        @include media-breakpoint-up(lg){
            width: $logo-lg-width;

            &-wrap {
                padding: 10px;
                max-height: rem(100px);
            }
        }

        &.is-alternative{
            img{
                display: none;
            }
        }

        @if($header-xs-bg == $white){
            @include media-breakpoint-down(md){
                svg{
                    display: none;
                }

                &.is-alternative{
                    img{
                        display: block;
                    }
                }
            }
        }
    }

    &-menu{
        list-style-type: none; 
        padding: 0;
        margin: 0;

        @include media-breakpoint-up(lg){
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        > li{
                color: inherit;
                font: {
                    size: rem(18px);
                    weight: $font-weight-header;
                };
                line-height: 2;
                letter-spacing: $header-menu-letter-spacing;

                @include media-breakpoint-up(lg){
                    margin-left: 1rem;
                }

                @include media-breakpoint-down(md){
                    font-size: rem(26px);
                    text-align: center;
                    opacity: 0;
                    transform: translateX(-100px);
                    transition: color .15s, opacity .15s, transform .5s;
                    transition-timing-function: $timing-function;
                    @for $i from 1 through $nav-item-nb {
                        &:nth-child(#{$i}) { transition-delay: 0s, #{50 + (50 * $i)}ms; }	
                    }
                }

                a{
                    color: inherit;
                    text-decoration: none;
                    position: relative;
                    white-space: nowrap;

                    &:after{
                        content: '';
                        background-color: $primary;
                        position: absolute;
                        height: rem(2px);
                        width: 0;
                        right: 0;
                        left: 0;
                        bottom: rem(-5px);
                        margin: auto;
                        transition: 0.35s ease;
                    }
        
                    &:hover{

                        @include media-breakpoint-down(md){
                            color: $primary;
                        }

                        &:after{
                            width: 100%;
                        }
                    }

                    &.current{
                        &:after{
                            width: 100%;
                        }
                    }
                }
        }
    }

    &-nav{

        @include IE-only(){
            width: 100%;
        }

        @include media-breakpoint-down(md){
            pointer-events: none;
            position: fixed;
            width: 100vw;
            top: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            z-index: -1;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0; 
                z-index: -1;
                width: 100%;
                background: $primary;
            }
    
            //show
            &.show{
                opacity: 1;
                pointer-events: all;
                z-index: 2;
    
                li {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        &-inner{
            @include media-breakpoint-down(md){
                background-color: $header-xs-bg;
                height: 100%;
                width: 100%;
                border-top: 4rem solid $header-xs-bg;
                padding: 8rem 0 4rem;
                display: flex;
                justify-content: center;    
                overflow-y: auto;

                /* IE10+ FIX */
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    display: block;
                }
            }
        }

        &-toggle{
            background: none;
            border: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            position: relative;
            width: 2rem;
            height: 3em;
            z-index: 3;

            &:focus{
                outline: none;
            }

            .burger {
                position: absolute;
                top: rem(12px);
                left: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                transition: opacity .5s $timing-function;

                @include media-breakpoint-up(lg){
                    display: none;
                }

                &:before,
                .bar,
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 2rem;
                    height: 2px;
                    background: $header-xs-color;
                    transition: all .5s $timing-function;
                }
                .bar {
                    top: 10px;
                }
                &:before {
                    top: 0;
                    transform-origin: top left;
                }
                &:after {
                    top: 20px;
                    transform-origin: bottom left;
                }
            }

            &.show{
                &:before {
                    opacity: 1;
                    pointer-events: auto;
                }
                .burger {

                    &::before,
                    &::after {
                        background: $header-xs-color;
                        width: 2rem; 
                    }
                    &::before {
                        transform: rotate(45deg) translateY(-50%);
                    }
                    &::after {
                        transform: rotate(-45deg) translateY(50%);
                    }
                    .bar {
                        transform: scale(0.1);
                    }
                }
            }
        }
    }

    .navbar{
        order: 2;
        position: relative;
        z-index: 2; //lower than booking form

        @include media-breakpoint-up(lg){
            align-items: flex-end;
            padding-bottom: $grid-gutter-width/2;
        }

        @include IE-only(){
            width: calc(100% - #{$grid-gutter-width});
        }
    }
}