$timing-function   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$nav-item-nb       : 10;

.header{
    background-color: transparent;
    color: $header-xs-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: {
        top: rem(24px);
    };

    transition: padding .1s $timing-function, background-color .3s ease-out;

    @include media-breakpoint-up(xl){
        padding: {
            top: rem(64px);
        };
    }

    &.is-sticky{
        background-color: $header-sticky-bg; 
        color: $header-sticky-color;
        padding: 1rem 0; 

        .burger{
            &:before,
            .bar,
            &:after {
                background: $header-sticky-color;
            }
        }

        .header-cta-wrap .btn{
            border-color: $header-sticky-color;
            color: $header-sticky-color;

            &:hover{
                background: $header-sticky-color;
                color: $white;
            }
        }

        .header-logo{

            @include media-breakpoint-up(lg){
                width: $header-sticky-logo-lg-width;
            }

            @if $header-use-alternative-logo{
                display: none;
                svg{
                    display: none;
                }
    
                &.is-alternative{
                    display: block;
                    img{
                        display: block;
                    }
                }
            }@else{
                svg{
                    fill: $header-sticky-color;
                    transition:fill .2s linear;
                }
            }

        }
    }

    &-content{
        display: flex;
        justify-content: space-between;
    }

    &-cta-wrap{
        z-index: 1;
        
        .btn{
            @include media-breakpoint-down(md){
                display: flex;
                align-items: center;
                font-size: rem(12px) !important;
                min-width: initial;
                padding: rem(10px);
            }
        }

        @include media-breakpoint-down(xl) {
            @for $i from 1 through 6 {
                a:nth-of-type(#{$i}) {
                    left: calc(4rem + (2rem * (#{$i} - 1)));
                }
            }
        }

        .header{
            &-phone,
            &-facebook,
            &-twitter,
            &-youtube,
            &-instagram {
                @if $header-show-phone{
                    color: inherit;
                    position: absolute;
                    left: rem(64px);
                    top: 0.5rem;
                    fill: currentColor;

                    @include media-breakpoint-up(xl){
                        position: static;
                        left: auto;
                        top: auto;
                        margin-right: $grid-gutter-width/1.5;
                    }
        
                    svg{
                        height: 1.5rem;
                    }
        
                    span{
                        display: none;
        
                        @include media-breakpoint-up(xl){
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    &-logo{
        width: $header-logo-xs-width;
        
        @include media-breakpoint-up(sm){
            width: $header-logo-lg-width;
        }

        svg{
            max-width: 100%;
        }

        &.is-alternative{
            img{
                display: none;
            }
        }
        
        &-wrap{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &-menu{
        list-style-type: none; 
        padding: 0;

        > li{
            color: $header-xs-color;
            font: {
                size: rem(20px);
            };
            line-height: 2;
            text: {
                align: center;
                transform: uppercase;
            };

            opacity: 0;
            transform: translateX(-100px);
            transition: color .15s, opacity .15s, transform .5s;
            transition-timing-function: $timing-function;
            @for $i from 1 through $nav-item-nb {
                &:nth-child(#{$i}) { transition-delay: 0s, #{50 + (50 * $i)}ms; }	
            }
    
            @include media-breakpoint-up(xl){
                font-size: rem(26px);
            }

            a{
                color: $header-xs-color;
                text-decoration: none;
                position: relative;

                &:after{
                    content: '';
                    background-color: $header-xs-color;
                    position: absolute;
                    height: rem(2px);
                    width: 0;
                    right: 0;
                    left: 0;
                    bottom: rem(-5px);
                    margin: auto;
                    transition: 0.35s ease;
                }
    
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }

    &-nav{
        pointer-events: none;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: -1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0; 
            z-index: -1;
            width: 100%;
            background: $header-xs-bg;
        }

        //show
        &.show{
            opacity: 1;
            pointer-events: all;
            z-index: 2;

            li {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-inner{
            background-color: $header-xs-bg;
            height: 100%;
            width: 100%;
            padding: 4rem 0;
            display: flex;
            align-items: center;
            justify-content: center;    
            overflow-y: auto;

             /* IE10+ FIX */
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                display: block;
            }
        }

        &-toggle{
            background: none;
            border: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            position: relative;
            width: 2rem;
            height: 3em;
            z-index: 3;

            &:focus{
                outline: none;
            }

            .burger {
                position: absolute;
                top: rem(12px);
                left: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                transition: opacity .5s $timing-function;

                &:before,
                .bar,
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 2rem;
                    height: 2px;
                    background: $header-xs-color;
                    transition: all .5s $timing-function;
                }
                .bar {
                    top: 10px;
                }
                &:before {
                    top: 0;
                    transform-origin: top left;
                }
                &:after {
                    top: 20px;
                    transform-origin: bottom left;
                }
            }

            &.show{
                &:before {
                    opacity: 1;
                    pointer-events: auto;
                }
                .burger {

                    &::before,
                    &::after {
                        background: $header-xs-color;
                        width: 2rem; 
                    }
                    &::before {
                        transform: rotate(45deg) translateY(-50%);
                    }
                    &::after {
                        transform: rotate(-45deg) translateY(50%);
                    }
                    .bar {
                        transform: scale(0.1);
                    }
                }
            }
        }
    }
}