$timing-function   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$nav-item-nb       : 10;


.header{
    background-color: $white;
    color: $header-xs-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: $header-border-bottom;

    @include media-breakpoint-up(lg){
        background-color: $white;
        background-image: $nagivation-background-image;
        color: $header-lg-color;
    }

    transition: padding .1s $timing-function, background-color .3s ease-out;

    .language-menu {
        display:flex;width:50px;
        > svg {
            flex:1;width:20px;
            fill: #ffffff;
        }
        > .language_slug {
            flex:2;text-align:right
        }
    }

    &.is-sticky{
        background: {
            color: $header-sticky-bg; 
            image: none;
        };
        color: $header-sticky-color;

        .header-logo{
            
            svg{
                display: block;
                width: 7.5rem;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            &.is-alternative{
                img{
                    display: block;
                }
            }
        }

        .header-menu-level-1 {
            li {
                background-color: $white;
            }
            li:first-child {
                background: transparent;
            }
        }

        .language-menu {
            > svg {
                fill: #2D2D2D;
            }
        }

    }

    &-content{
        display: flex;
        justify-content: space-between;
        padding-right: rem(110px);
        min-height: rem(70px);

        @include media-breakpoint-up(lg){
            padding: rem(10px 0);
        }
    }

    &-cta{
        z-index: 4;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;


        .btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            &.show{
                .fa-calendar-plus{
                    display: none;
                }
                
                .fa-times{
                    display: block;
                }
            }

            span{
                font-size: rem(12px);
                margin-top: rem(3px);
            }

            .fa-times{
                display: none;
            }
        }

        @include media-breakpoint-up(lg){
            display: none;
        }
    }

    &-logo{
        width: $logo-xs-width;
        
        @include media-breakpoint-up(lg){
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: $logo-lg-width;
        }

        &-wrap{
            display: flex;
            align-items: center;
        }

        &.is-alternative{
            img{
                display: none;
            }
        }

        @if($header-xs-bg == $white){
            @include media-breakpoint-down(md){
                svg{
                    display: none;
                }

                &.is-alternative{
                    img{
                        display: block;
                    }
                }
            }
        }
    }

    &-menu{
        list-style-type: none; 
        padding: 0;
        margin: 0;

        @include media-breakpoint-up(lg){
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
        }

        > li {
                position: relative;
                color: inherit;
                font: {
                    size: rem(14px);
                    weight: $font-weight-header;
                };
                line-height: 2;
                text-transform: uppercase;
                letter-spacing: $header-menu-letter-spacing;

                @include media-breakpoint-up(lg){
                    margin-left: 1rem;

                    &:hover {
                        li {
                            display: block;
                            i {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }

                @include media-breakpoint-down(md){
                    font-size: rem(26px);
                    text-align: center;
                    opacity: 0;
                    transform: translateX(-100px);
                    transition: color .15s, opacity .15s, transform .5s;
                    transition-timing-function: $timing-function;
                    @for $i from 1 through $nav-item-nb {
                        &:nth-child(#{$i}) { transition-delay: 0s, #{50 + (50 * $i)}ms; }	
                    }
                }



                a {
                    $navigation-font-weight: $font-weight-normal !default;
                    color: $primary;
                    text-decoration: none;
                    position: relative;
                    white-space: nowrap;
                    font-weight: $navigation-font-weight;

                    &:after {
                        $navigation-underlines-display: block !default;
                        content: '';
                        background-color: $primary;
                        position: absolute;
                        height: rem(2px);
                        width: 0;
                        right: 0;
                        left: 0;
                        bottom: rem(-5px);
                        margin: auto;
                        transition: 0.35s ease;
                        display: $navigation-underlines-display;
                    }
        
                    &:hover {
                        opacity: 1;

                        @include media-breakpoint-down(md){
                            color: $primary;
                        }

                        &:after{
                            width: 100%;
                        }






                    }

                    &.current{
                        &:after{
                            width: 100%;
                        }
                    }
                }
        }

        &.has-current {
            $navigation-has-current-and-not-current-opacity: 1 !default;
            a {
                opacity: $navigation-has-current-and-not-current-opacity;

                &.current {
                    opacity: 1;
                }
            }
        }

        &-level-1 {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            padding: 0;
            transition: background-color .3s ease-out;



            li:first-child {
                text-align: center;
                display: block;
                padding: 0;
                i {
                    transition: transform 0.1s;
                }
            }

            & > li {
                list-style-type: none;
                display: none;
                padding: 0.25rem 1rem;
            }

            @include media-breakpoint-down(md) {
                position: relative;
                transform: none;
                left: auto;

                li:first-child {
                    display: none;
                }
                & > li {
                    display: block;
                }
            }
        }
    }

    &-nav{

        @include IE-only(){
            width: 100%;
        }

        @include media-breakpoint-down(md){
            pointer-events: none;
            position: fixed;
            width: 100vw;
            top: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            z-index: -1;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0; 
                z-index: -1;
                width: 100%;
                background: $primary;
            }
    
            //show
            &.show{
                opacity: 1;
                pointer-events: all;
                z-index: 2;
    
                li {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        &-inner{
            @include media-breakpoint-down(md){
                background-color: $header-xs-bg;
                height: 100%;
                width: 100%;
                border-top: 4rem solid $header-xs-bg;
                padding: 8rem 0 4rem;
                display: flex;
                align-items: center;
                justify-content: center;    
                overflow-y: auto;

                /* IE10+ FIX */
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    display: block;
                }
            }
        }

        &-toggle{
            background: none;
            border: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            position: relative;
            width: 2rem;
            height: 3em;
            z-index: 3;

            &:focus{
                outline: none;
            }

            .burger {
                position: absolute;
                top: rem(12px);
                left: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                transition: opacity .5s $timing-function;

                @include media-breakpoint-up(lg){
                    display: none;
                }

                &:before,
                .bar,
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 2rem;
                    height: 2px;
                    background: $header-xs-color;
                    transition: all .5s $timing-function;
                }
                .bar {
                    top: 10px;
                }
                &:before {
                    top: 0;
                    transform-origin: top left;
                }
                &:after {
                    top: 20px;
                    transform-origin: bottom left;
                }
            }

            &.show{
                &:before {
                    opacity: 1;
                    pointer-events: auto;
                }
                .burger {

                    &::before,
                    &::after {
                        background: $secondary;
                        width: 2rem; 
                    }
                    &::before {
                        transform: rotate(45deg) translateY(-50%);
                    }
                    &::after {
                        transform: rotate(-45deg) translateY(50%);
                    }
                    .bar {
                        transform: scale(0.1);
                    }
                }
            }
        }

        .book-now-link {
            border: 2px solid $white;
            padding: 0.75rem 2rem;
            opacity: 1 !important;

            background-color: $white;
            border-color: $header-sticky-color;
            color: $header-sticky-color;

            &:hover {
                background-color:#efefef;
                color: $black;

                &::after {
                    display: none;
                }
            }


        }
    }

    .navbar{
        order: 2;
        position: relative;
        z-index: 2; //lower than booking form

        @include IE-only(){
            width: calc(100% - #{$grid-gutter-width});
        }
    }

    &-top-bar{
        display: none;

        @if ($header-show-phone){
            background-color: $primary;
            padding: rem(5px 0);
            display: block;

            &-inner{
                display: flex;
                justify-content: flex-end;
    
                > * {
                    color: color-yiq($primary);
                    font: {
                        weight: $font-weight-medium;
                        size: rem(14px);
                    };
    
                    &:hover{
                        color: color-yiq($primary);
                    }

                    @include media-breakpoint-up(lg){
                        font-size: rem(18px);
                    }
                }
            }
        }
    }
}