@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:300,500,900&display=swap');

//
// Override Boostrap Default Fonts
//
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Playfair Display', serif;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;
$font-weight-black:           900;

$body-color: #2D2D2D;
$font-size-base: 1rem;
$font-weight-base: $font-weight-light;
$line-height-base: 1.5;

$headings-font-family: $font-family-serif;
$headings-font-weight: $font-weight-medium;
$headings-color: $gray-900;
$headings-margin-bottom: 1rem;

$input-focus-color: $body-color;
$input-color: $body-color;

$h1-font-size: rem(38px);
$h1-font-xs: rem(26px); 
$h2-font-size: rem(38px);
$h2-font-xs: rem(26px); 
$h3-font-size: rem(18px);
$h3-font-xs: 1rem; 
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

// If letter spacing
$letterSpacing: 0.02em;

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
    letter-spacing: $letterSpacing;
}

.fbt{

    h1,
    .h1{
        @media (max-width: 992px){
            font-size: $h1-font-xs;
        }
    }

    h2,
    .h2{
        @media (max-width: 992px){
            font-size: $h2-font-xs;
        }
    }


    //.ReviewsSliderBlock .text-uppercase,
    .sub-title {
        display: flex;
        align-items: center;
        font-size: rem(17px);
        color: $body-color;
        text-transform: none;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background-color: $body-color;
            float: left;
            margin-right: 20px;
        }
    }

    .ReviewsSliderBlock,
    .FeaturedRoomsBlock,
    .ThingsToDoMapBlock {
        //.text-uppercase,
        .sub-title {
            justify-content: center;
            padding-bottom: rem(30px);
            margin-bottom: rem(30px);

            &::before {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        h2 span {
            margin: 0;
        }
    }

    .ReviewsSliderBlock .sub-title {
        color: $white;
        &::before {
            background-color: white;
        }
    }

    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-sans-serif;
    }
}


