// Overlapping blocks
$overlappingBlockTop: rem(100px);


// Awards
$awardsSectionBg: $gray-300;


// Facilities
$facilitiesSectionBg: $white;


// Features
$featuredRoomsSectionBg: $gray-300;
$featuresOverviewSectionBg: $gray-400;


// Instagram
$instagramFeedsSectionBg: $white;
$instagramFeedsTileBg: $secondary;


// Offers
$offersSectionBg: $white;


// RoomSliderBlock
$roomSliderSectionBg: $gray-400;


//Things to do
$thingsTodoBg: $gray-400;


//What's on
$whatsOnSectionBg: $white;

//NOTE: client didn't want to have the image below the hero section
.hotel-intro-media{
    @media(max-width:1440px){
        display: none;
    }
}