.room-card-slider{
    overflow: hidden;
    
    .slick{
        &-arrow{
            background-color: $slickArrowBg;
            color: $slickArrowColor;
            font-size: 1rem;
            height: 70px;
            width: 55px;
            z-index: 99;
            top: auto;
            bottom: -36px;

            &.slick-next{
                right: 0;

                &:before{
                    content: "";
                }
            }

            &.slick-prev{
                left: auto;
                right: 55px;

                border: {
                    top-left-radius: $themeBorderRadius;
                };

                &:before{
                    content: "";
                    // color: inherit;
                    // font: {
                    //     size: rem(28px);
                    // };
                    // position: absolute;
                    // top: 2rem;
                    // right: -1px;
                }
            }
        }

        &-dots{
            @if($slick-cards-show-arrows == true){
                display: none !important;
            }
        }
    }

}

.reviews-slider{
    .slick{
        &-arrow{
            @if($slick-cards-show-arrows == true){
                display: none !important;
            }
        }
    }
}