//
// Override Boostrap Default Color system
//

$white:    #FFFFFF;
$gray-100: #F7F7F7;
$gray-200: #F8F8F8;
$gray-300: #F9F9F9;
$gray-400: #F0F0F0;
$gray-500: #E8E8E8;
$gray-600: #DADADA;
$gray-700: #CFCFCF;
$gray-800: #818285;
$gray-900: #2d2d2d;
$black:    #000000;

$primary:       #3ec1fd;
$secondary:     #8a8c8e;

