@import url("https://use.typekit.net/epc4dlk.css");

//
// Override Boostrap Default Fonts
//
$font-family-sans-serif:      freight-sans-pro, sans-serif;;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;

$body-color: $gray-900;
$font-size-base: 1rem;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$headings-font-family: $font-family-base;
$headings-font-weight: $font-weight-medium;
$headings-color: $gray-900;
$headings-margin-bottom: 1rem;

$h1-font-size: rem(30px);
$h1-font-xs: rem(26px); 
$h2-font-size: rem(30px);
$h2-font-xs: rem(26px); 
$h3-font-size: rem(18px);
$h3-font-xs: 1rem; 
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

// If letter spacing
$letterSpacing: 0.02em;

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
    letter-spacing: $letterSpacing;
}

.fbt{

    h1,
    .h1{
        @media (max-width: 992px){
            font-size: $h1-font-xs;
        }
    }

    h2,
    .h2{
        @media (max-width: 992px){
            font-size: $h2-font-xs;
        }
    }
}


