$logo-xs-width: rem(120px);
$logo-lg-width: rem(210px);


//Logo workaround
.header{
    &.is-sticky{

        .header-logo-wrap{
            @media (min-width: 992px){
                background-image: none;
                transition: all .2s ease;

                img{
                    opacity: 1;
                }
            }
        }
    }

    &-logo-wrap{
        @media (min-width: 992px){
            background: {
                image:url('../img/oasis/oasis-logo-white.png');
                size: contain;
                repeat: no-repeat;
            }
            height: 95px;
            
            img{
                opacity: 0;
            }
        }
    }
}

.header-logo{
    &.is-alternative{
        display: none;
    }
}