// General
$themeBorderRadius: 0px;
$themeCardBorderColor: transparent;


// Forms
$formColor: $gray-500;
$inputBorderColor: $gray-700;


// Button & Input 
$border-radius: $themeBorderRadius;
$border-radius-lg: $themeBorderRadius;
$input-border-radius: $border-radius-lg;

$input-btn-padding-y: rem(12px);
$input-border-width: 2px;
$input-border-color: $inputBorderColor;
$input-height: rem(45px);
$input-color: $formColor;

$btn-border-width: 2px;
$btn-font-weight: $font-weight-medium;

$btn-lg-min-width: auto; // Bounce rem(240px);

$btn-outline-border-color: $primary;
$btn-outline-color: $primary;


//Card
$borderTopradius: $themeBorderRadius;
$borderBottomRadius: 0;


// Square Tile
$squareTileBorderRadius: $border-radius-lg;


// Bootstrap Spacing
$grid-gutter-width: 40px;
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    4: $spacer,
    gutter: $grid-gutter-width,
    10: ($spacer * 2.5),
    16: ($spacer * 3.5),
    30: ($spacer * 7.5)
  ),
  $spacers
);