.featured-rooms {
    .col-12 {
        height: auto;
        &:nth-of-type(even) {
            @include media-breakpoint-up(sm) {
                .room-type-card {
                    &-content {
                        margin-right: 4rem;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}

.room-type-card {
    &-foreground {
        margin-bottom: 0;
    }
    .slick {
        &-dots {
            .slick-active {
                button {
                    background-color: white;
                }
            }
            button {
                border-radius: 50%;
                background: transparent;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: rem(10px);
                height: rem(10px);
                &:after {
                    content: '';
                    position: absolute;
                    border-radius: 50%;
                    width: rem(20px);
                    height: rem(20px);
                    border: rem(3px) solid white;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        &-cta {
            .btn {
                max-width: 100%;
                width: 100%;
                padding: .75rem 0;
                min-width: initial;
            }
        }
        &-content {
            text-align: center;
        }
    }
    @include media-breakpoint-down(sm) {
        &-foreground {
            padding-top: rem(10px);
            background: rgba(white, 0.8);
        }
        &-cta {
            > div {
                text-align: center;
            }
            .btn {
                margin-bottom: rem(5px);
            }
        }
    }
}